@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}

.carousel-item, .active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.h1-responsive {
  text-transform: uppercase;
  font-size: 200%;
}

.form-dark {
  padding: 30px;
}

.card-image {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.form-dark .font-small {
  font-size: 0.8rem;
}

.form-dark [type="radio"]+label, .form-dark [type="checkbox"]+label {
  font-size: 0.8rem;
}

.form-dark [type="checkbox"]+label:before {
  top: 2px;
  width: 15px;
  height: 15px;
}

.rgba-stylish-strong {
  background-color: rgba(62, 69, 81, 0.5) !important;
}

.form-dark .md-form label {
  color: #fff;
}

/* .form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851;
} */

.form-dark input[type=text]:focus:not([readonly])+label {
  color: #fff;
}

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}

.form-dark input[type=password]:focus:not([readonly])+label {
  color: #fff;
}

.form-dark input[type="checkbox"]+label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-dark input[type="checkbox"]:checked+label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.mdb-autocomplete-clear {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  right: 0;
  top: .85rem;
  background: 0 0;
  border: none;
}

.md-form label.active {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  font-size: .5rem
}

.md-form {
  position: relative;
  margin-bottom: .5rem;
}

.md-form label {
  left: auto;
}

.btn {
  font-size: medium;
  padding-top: 0.86rem !important;
  padding-bottom: .66rem !important;
}

.optimize {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0;
}
