<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
  <!--Indicators-->
  <ol class="carousel-indicators" style="z-index: 101">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <div class="full-bg-img flex-center white-text uppercase optimize">
    <div class="row">
      <div class="col-lg-6">
        <section class="form-dark" style="display: flex">

          <!--Form without header-->
          <div class="card card-image">
            <div class="text-white rgba-stylish-strong px-5 z-depth-4">

              <!--Header-->
              <div class="text-center" style="padding-top: 20px; padding-bottom:20px">
                <div class="row">
                  <div class="col-lg-6">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <div class="uppercase font-small">
                      Chuyển nhượng căn hộ
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <div class="uppercase font-small">
                      Cho thuê căn hộ
                    </div>
                  </div>
                </div>
              </div>

              <!--Body-->
              <div class="md-form">
                <input type="search" id="form-autocomplete" class="form-control mdb-autocomplete white-text">
                <button class="mdb-autocomplete-clear">
                      <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                      </svg>
                </button>
                <label for="form-autocomplete">Chọn dự án</label>
              </div>

              <!-- <div class="md-form">
                <input type="text" id="Form-email5" class="form-control white-text">
                <label for="Form-email5"></label>
              </div> -->
              <div class="md-form" style="margin-top: 30px; margin-bottom:30px">
                <select class="form-control md-select uppercase selectpicker" >
                  <option class="md-select-option" value="" disabled selected>Chọn mức giá</option>
                  <option class="md-select-option" value="1">Option 1</option>
                  <option class="md-select-option" value="2">Option 2</option>sa
                  <option class="md-select-option" value="3">Option 3</option>
                </select>
              </div>
              <div class="md-form">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="number" id="area" class="form-control white-text">
                    <label for="area">Chọn diện tích (m<sup>2</sup>)</label>
                  </div>
                  <div class="col-lg-6">
                    <input type="number" id="room" class="form-control white-text">
                    <label for="room">Số phòng ngủ</label>
                  </div>
                </div>
              </div>

              <div class="md-form">
                <input type="text" id="Option" class="form-control white-text">
                <label for="Option">Tùy chọn nâng cao</label>
              </div>


              <!--Grid row-->
              <div class="row d-flex align-items-center">

                <!--Grid column-->
                <div class="text-center mb-3 col-md-12">
                  <button type="button" class="btn btn-danger btn-block z-depth-1 waves-effect">Tìm kiếm</button>
                </div>
                <!--Grid column-->
              </div>

            </div>
          </div>
          <!--/Form without header-->

        </section>
      </div>
      <div class="col-lg-6 flex-center white-text">
        <ul class="animated fadeIn col-md-12 carousel-text">
          <li>
            <h1 class="h1-responsive" style="font-weight: lighter">Chọn ngay <br />căn hộ mơ ước tại tp Nha Trang</h1>
          </li>
          <li>
            <p style="text-transform: none">Từ những dự án nổi tiếng như: <br /> Scenia Bay, Napoleon Castle, Panorama, Nha <br /> Trang City Central, AB Center Square...</p>
          </li>
          <li>
            <p style="text-transform: none">
              chỉ từ
            </p>
            <h1 class="h1-responsive">999 triệu đồng*</h1>
          </li>
          <li>
            <a class="btn btn-outline-white waves-effect" rel="nofollow">Tìm hiểu ngay</a>
            <p class="font-xsmall" style="text-transform: none">*Giá căn hộ tối thiểu có thể mua được từ dự án được đưa thông tin như trên.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background-image: url('assets/img/img8.jpg'); background-repeat: no-repeat; background-size: cover;">

    </div>
    <div class="carousel-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg'); background-repeat: no-repeat; background-size: cover;">

    </div>
    <div class="carousel-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg'); background-repeat: no-repeat; background-size: cover;">

    </div>
  </div>

  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
