<select style="text-align: right" class="custom-selectpicker" style="display: none" data-size="7" data-style="btn btn-primary btn-round" [(ngModel)]="currentSelect" name="currentSelect" (change)="changeProject()">
  <option value="" disabled>Chọn </option>
  <option [ngValue]="p?.id" *ngFor="let p of datas" >{{p.name}}</option>
</select>
