.news-title {
  font-size: 20px;
  font-weight: 600
}

.news-content {
  font-size: 15px;
}

.dot-row {
  border-bottom: 1px solid #ccc;
  border-style: dotted;
  border-top: none;
  border-left: none;
  border-right: none;
}

.top-label {
  width: 50px;
  height: 40px;
  background-color: #e1e1e1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  padding-top: 3px;
  font-size: 25px;
  margin-bottom: 1px;
}

.bottom-label {
  width: 50px;
  height: 40px;
  background-color: #ebebeb;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  padding-top: 3px;
  font-size: 25px;
}
