<div class="row" #tintuc>
  <div class="col-md-12" style="margin-top: 40px">
    <div class="row text-center">
      <h1 style="width: 100%">Tin tức thị trường</h1>
    </div>
    <div class="row margin-top-15">
      <div class="col-md-6">
        <img class="img-repository" src="assets/img/news.jpg" alt="Card image cap">
        <h3 class="news-title" style="margin-top: 20px;">Nha Trang: "Mỏ vàng" nổi bật của thị trường bất động sản</h3>
        <p class="news-content">
          Theo ghi nhận của nhiều sàn địa ốc trên cả nước đang có một xu hướng đầu tư mới với dòng tiền hàng tỷ USD hướng vào các thị trường mới, các đô thị lớn như Nha Trang
        </p>
      </div>
      <div class="col-md-6">
        <div class="row dot-row">
          <div class="col-1">
            <label class="top-label">16</label>
            <label class="bottom-label">06</label>
          </div>
          <div class="col-11" style="padding-left: 30px">
            <h3 class="news-title">Nha Trang City Central được nhà đầu tư săn đón nhờ pháp lý sở hữu lâu dài</h3>
            <p class="news-content">
              13-07-2017 - 08:00 AM | Bất động sản Chia sẻ 2 Nha Trang City Central được nhà đầu tư săn đón nhờ pháp lý sở hữu lâu dài trong điều kiện quỹ đất
            </p>
          </div>
        </div>

        <div class="row dot-row" style="margin-top: 20px">
          <div class="col-1">
            <label class="top-label">16</label>
            <label class="bottom-label">06</label>
          </div>
          <div class="col-11" style="padding-left: 30px">
            <h3 class="news-title">Nha Trang City Central được nhà đầu tư săn đón nhờ pháp lý sở hữu lâu dài</h3>
            <p class="news-content">
              13-07-2017 - 08:00 AM | Bất động sản Chia sẻ 2 Nha Trang City Central được nhà đầu tư săn đón nhờ pháp lý sở hữu lâu dài trong điều kiện quỹ đất
            </p>
          </div>
        </div>

        <div class="row dot-row" style="margin-top: 20px">
          <div class="col-1">
            <label class="top-label">16</label>
            <label class="bottom-label">06</label>
          </div>
          <div class="col-11" style="padding-left: 30px">
            <h3 class="news-title">Nha Trang City Central được nhà đầu tư săn đón nhờ pháp lý sở hữu lâu dài</h3>
            <p class="news-content">
              13-07-2017 - 08:00 AM | Bất động sản Chia sẻ 2 Nha Trang City Central được nhà đầu tư săn đón nhờ pháp lý sở hữu lâu dài trong điều kiện quỹ đất
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
