<!-- Navbar -->
<!-- End Navbar -->
<div class="wrapper wrapper-full-page " style="  background-image: url('assets/img/bg14.jpg');">
  <div class="full-page login-page section-image" filter-color="black">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="col-md-4 ml-auto mr-auto">
          <form class="form" (ngSubmit)="loginByEmailAndPassword()">
            <div class="card card-login card-plain">
              <div class="card-header ">
                <div class="logo-container">
                  <img src="assets/img/now-logo.png" alt="">
                </div>
              </div>
              <div class="card-body ">
                <div class="input-group no-border form-control-lg">
                  <span class="input-group-addon">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  <input type="text" class="form-control" [(ngModel)]="email" placeholder="Tên đăng nhập..." name="email">
                </div>
                <div class="input-group no-border form-control-lg">
                  <span class="input-group-addon">
                      <i class="now-ui-icons text_caps-small"></i>
                    </span>
                  <input type="password" [(ngModel)]="password" placeholder="Mật khẩu..." class="form-control" name="password">
                </div>
              </div>
              <div class="text-danger" style="text-align:center" *ngIf="error">
                    <span> {{error}}</span>
              </div>
              <div class="card-footer ">
                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Bắt đầu</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
