<carousel></carousel>
<div class="container">
  <h1 class="main-brand brand">Chuyển nhượng căn hộ dự án</h1>
  <h3 class="sub-brand brand">VILLA LAND CUNG CẤP THÔNG TIN VÀ SẢN PHẨM CĂN HỘ CHUYỂN NHƯỢNG TỪ NHỮNG DỰ ÁN BẤT ĐỘNG SẢN TẠI TP NHA TRANG</h3>
  <div class="row my-5">
    <!--First columnn-->
    <div class="col-lg-4 mb-4" *ngFor="let transferApartment of apartments">
      <!--Card-->
      <component-transfer [transferApartment]="transferApartment"></component-transfer>
      <!--/.Card-->
    </div>
  </div>
  <h1 class="main-brand brand">CĂN HỘ ĐĂNG BÁN NỔI BẬT</h1>
  <h3 class="sub-brand brand">VILLA LAND ĐƯA ĐẾN KHÁCH HÀNG CƠ HỘI TIẾP CẬN NHỮNG SẢN PHẨM BẤT ĐỘNG SẢN MANG "GIÁ TRỊ THỰC"
GIÚP SỞ HỮU NGÔI NHÀ MƠ ƯỚC TRỞ NÊN DỄ DÀNG HƠN.</h3>
  <div class="row my-5" style="margin-bottom: 0px">
    <div class="col-lg-4 mb-4" *ngFor="let apartment of apartments">
      <component-apartment [apartment]="apartment"></component-apartment>
    </div>
    <div class="col-lg-12 text-center">
      <button type="button" class="btn btn-elegant waves-effect">Xem tất cả</button>
    </div>
  </div>
  <!-- Default button -->

  <h1 class="main-brand brand">CĂN HỘ CHO THUÊ NỔI BẬT</h1>
  <div class="row my-5" style="margin-bottom: 0px">
    <div class="col-lg-4 mb-4" *ngFor="let apartment of apartments">
      <apartment-for-rent [apartment]="apartment"></apartment-for-rent>
    </div>
    <div class="col-lg-12 text-center">
      <button type="button" class="btn btn-elegant waves-effect">Xem tất cả</button>
    </div>
  </div>
</div>
<component-banner></component-banner>
<div class="container">
  <!-- <component-muti-carousel [items]="apartments"></component-muti-carousel> -->

  <div class="row" style="margin-bottom: 25px; ">
    <news></news>
  </div>

  <component-investment></component-investment>
</div>
