<div class="card" *ngIf="bangHang">
  <a class="btn btn-primary btn-round btn-icon" style="margin-left: 10px;" [routerLink]="['/bang-hang']"><i class="fa fa-reply"></i></a>
  <div class="card-header text-center">
    <h1 class="card-title">Quản lý bảng hàng</h1>
  </div>
  <div class="card-body">
    <form class="form-horizontal">
      <div class="row">

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Dự án</label>
            <div class="col-sm-8">
                <custom-select [currentSelect]="bangHang.duan" [options]="projects" (changeOption)="loadProject($event)"></custom-select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Mã căn</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Mã căn" [(ngModel)]="bangHang.macan" name="macan">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Chiết khấu</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Chiết khấu" [(ngModel)]="bangHang.chietkhau" name="chietkhau">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Chủ đầu tư</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Chủ đầu tư" [(ngModel)]="bangHang.chudautu" name="chudautu">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Giá bán</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Giá bán" [(ngModel)]="bangHang.giaban" name="giaban">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Giá bán VAT</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Giá bán VAT" [(ngModel)]="bangHang.giabanvat" name="giabanvat">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Giá chuyển nhượng</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Giá chuyển nhượng" [(ngModel)]="bangHang.giachuyennhuong" name="giachuyennhuong">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Giá trị chênh lệch</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Giá trị chênh lệch" [(ngModel)]="bangHang.giatrichenhlech" name="giatrichenhlech">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Mật độ xây dựng</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Mật độ xây dựng" [(ngModel)]="bangHang.matdoxaydung" name="matdoxaydung">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Phí sang nhượng</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Phí sang nhượng" [(ngModel)]="bangHang.phisangnhuong" name="phisangnhuong">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Số block</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Số block" [(ngModel)]="bangHang.soblock" name="soblock">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Số căn hộ</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Số căn hộ" [(ngModel)]="bangHang.socanho" name="socanho">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Thanh toán sang nhượng</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Thanh toán sang nhượng" [(ngModel)]="bangHang.thanhtoansangnhuong" name="thanhtoansangnhuong">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Thông tin giao nhà</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Thông tin giao nhà" [(ngModel)]="bangHang.thongtingiaonha" name="thongtingiaonha">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tiến độ thanh toán</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tiến độ thanh toán" [(ngModel)]="bangHang.tiendothanhtoan" name="tiendothanhtoan">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tổng giá trị</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Tổng giá trị" [(ngModel)]="bangHang.tonggiatri" name="tonggiatri">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Vị trí</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Vị trí" [(ngModel)]="bangHang.vitri" name="vitri">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div style="text-align: center">
        <button type="button" class="btn btn-secondary btn-rounded" style="background-color: rgb(249, 99, 50)" (click)="updateOrCreate()">Submit</button>
      </div>
    </form>
  </div>
</div>
