<div class="row" *ngIf="contacts">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8">
            <h4 class="card-title">Bảng hàng chuyển nhượng</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="overflow: auto">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr>
                <th class="text-center">
                  #
                </th>
                <th class="text-center">
                  Tên
                </th>
                <th class="text-center">
                  Email
                </th>
                <th class="text-center">
                  Chủ đề
                </th>
                <th class="text-center">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-body" *ngFor="let contact of contacts; let i = index" [attr.data-index]="i">
                <td class="text-center">
                  {{i+1}}
                </td>
                <td class="text-center">
                  {{contact.name}}
                </td>
                <td class="text-center">
                  {{contact.email}}
                </td>
                <td class="text-center">
                  {{contact.title}}
                </td>
                <td class="text-center">
                  <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="" [routerLink]="['/lien-he', contact.id]">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="" (click)="delete(contact.id)">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>

              <tr *ngIf="showTotal">
                <td colspan="3"></td>
                <td class="td-total">Tổng số lượng</td>
                <td class="td-price" style="text-align: left;">{{contacts.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
