<div class="row" style="margin-top: 10px" *ngIf="apartment">

  <!--Grid column-->
  <div class="col-lg-3 col-xl-3">
    <!--Featured image-->
    <div class="view overlay z-depth-2">
      <div class="image-background" [ngStyle]="{'background-image': 'url(' + apartment.image + ')', 'height': '180px', 'width': '100%' }">
      </div>
      <a [routerLink]="['/chuyen-nhuong', apartment.id]">
        <div class="mask rgba-white-slight waves-effect waves-light"></div>
      </a>
    </div>
  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-9 col-xl-9">
    <div class="row apartment">
      <div class="col-lg-10 col-xl-10 apartment-title" [routerLink]="['/chuyen-nhuong', apartment.id]">
        <span>{{apartment.name}}</span>
      </div>
      <div class="col-lg-2 col-xl-2 apartment-price">
        <span>{{apartment.transferPrice | number:'.'}} đ</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-12 address">
        <span>RV133 •</span>
        <span><a href="!#">{{apartment.address}}</a></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-12">
        <ul class="icon-info">
          <li>
            <i class="fa fa-bed" aria-hidden="true"></i> {{apartment.rooms}}
          </li>
          <li>
            <i class="material-icons icon" style="font-size: 14px">airline_seat_legroom_normal</i> {{apartment.toilet}}
          </li>
          <li>
            <i class="fa fa-expand icon" aria-hidden="true"></i> {{apartment.area}}<sup>2</sup>
          </li>
          <li>
            <i class="fa fa-compass icon" aria-hidden="true"></i> {{apartment.huong}}
          </li>
        </ul>
      </div>
    </div>

    <div class="row" style="padding-top: 20px">
      <div class="col-xl-6 col-lg-12">
        <div class="row">
          <div class="col-lg-2" style="    margin-top: -8px;">
            <div class="avatar-agent">
              <!-- <img src="" style="height: 40px;width: 40px; border-radius: 50%"/> -->
              <a class="btn-floating waves-effect waves-light" [ngStyle]="{'background-image': 'url(assets/img/1.jpg)', 'background-repeat': 'no-repeat', 'background-position': 'center'}"></a>
            </div>
          </div>
          <div class="col-lg-10" style="padding: 0">
            <div class="info-agent">
              <a>Minh Nguyễn Xuân</a>
              <p>
                Chuyên viên tư vấn
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-12" style="text-align: right;">
        <a class="btn btn-blue-outline waves-effect" style="font-size: 14px; padding: 0.5rem 1rem 0.5rem 1rem; width: 107px; height: 35px" type="button" data-toggle="modal" data-target="#apartmentDetail"><i class="fa fa-phone" style="padding-bottom: 3px"> Liên hệ</i></a>
      </div>
    </div>
  </div>
  <!--Grid column-->

</div>
<div class="bottom-line">

</div>
