.bottom-line {
  border-bottom: 1px solid #ccc;
}

a {
  color: #2e2e2e;
}

a:hover {
  color: black;
  cursor: pointer;
}

.address {
  display: inline-flex;
  padding-top: 40px;
  font-size: 14px;
}

.icon-info {
  display: inline-flex;
  list-style-type: none;
  font-size: 14px;
}

.icon {
  padding-left: 10px;
}

.apartment-price {
  text-align: right;
  font-size: 18px;
  color: #30333a;
}

.apartment {
  font-weight: 600;
}

p {
  font-size: 12px;
}

.btn-blue-outline:hover{
  background: #00779a;
  color: #fff!important;
}
