<div class="image-additional">
  <ngx-carousel [inputs]="carouselTile">
    <ngx-item NgxCarouselItem *ngFor="let item of items">
      <div class="col-md-12 clearfix d-none d-md-block" style="margin-bottom:10px">
        <div class="card" *ngIf="!type">
          <img class="img-fluid" src="assets/img/img51.jpg" alt="Card image cap">
          <div class="card-body" *ngIf="title">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <component-transfer *ngIf="type" [transferApartment]="item"></component-transfer>
      </div>
    </ngx-item>
    <div style="display: none">
      <button NgxCarouselPrev #prevButton class='leftRs slide'><i data-original-title="Previous" style="letter-spacing: -1px;" class="fa fa-angle-left btooltip">&nbsp;</i></button>
      <button NgxCarouselNext #nextButton class='rightRs slide'><i data-original-title="Next" class="fa fa-angle-right btooltip rightB">&nbsp;</i></button>
    </div>
  </ngx-carousel>
  <div class="control-slide center-div">
    <a class="btn" (click)="prev()"><i data-original-title="Previous" class="fa fa-angle-left btooltip">&nbsp;</i></a>
    <a class="btn" style="float: right" (click)="next()"><i data-original-title="Next" class="fa fa-angle-right btooltip rightB">&nbsp;</i></a>
  </div>
</div>
