.slide {
  display: none;
}

.control-slide a {
  padding: .85rem 1.13rem;
  margin-bottom: 20px;
  color: #448388 !important;
  opacity: 0.8;
  box-shadow: none;
}

.control-slide a i{
  font-size: 50px;
}

.control-slide a:hover {
  opacity: 1;
}

.control-slide {
  margin-left: -25px;
  width: 105%;
}
