<div class="card " style="padding-top: 10px;">
  <a class="btn btn-primary btn-round btn-icon" style="margin-left: 10px;" [routerLink]="['/apartment']"><i class="fa fa-reply"></i></a>
  <div class="card-header text-center">
    <h1 class="card-title">Quản lý căn hộ</h1>
  </div>
  <div class="card-body" *ngIf="apartment && transfer">
    <form method="get" action="/" class="form-horizontal">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tên căn hộ</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="apartment.name" name="name" placeholder="Tên căn hộ">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Địa chỉ</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="apartment.address" name="address" placeholder="Địa chỉ">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Diện tích</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [(ngModel)]="apartment.area" name="area" placeholder="Diện tích">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tên dự án</label>
            <div class="col-sm-8">
              <div class="form-group">
                <custom-select [currentSelect]="apartment.duan" [options]="projects" (changeOption)="loadProject($event)"></custom-select>

                <!-- <input type="text" class="form-control" [(ngModel)]="apartment.category" name="category" placeholder="Tên dự án"> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tiền đặt cọc</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [(ngModel)]="apartment.depositPrice" name="depositPrice" placeholder="Tiền đặt cọc">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Giá chuyển nhượng</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [(ngModel)]="apartment.transferPrice" name="transferPrice" placeholder="Giá chuyển nhượng">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-4 col-md-2 col-form-label">Chọn loại nhà</label>
        <div class="col-sm-8 col-md-10 checkbox-radios">
          <div class="form-check form-check-radio">
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="cho-thue" [(ngModel)]="apartment.type">
                  <span class="form-check-sign"></span>
                  Cho thuê
                  </label>
          </div>
          <div class="form-check form-check-radio">
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="chuyen-nhuong" [(ngModel)]="apartment.type">
                  <span class="form-check-sign"></span>
                  Chuyển nhượng
                  </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Số phòng</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [(ngModel)]="apartment.rooms" name="room" placeholder="Số phòng">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Ngày tạo</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control datetimepicker" (ngModel)="apartment.createdAt" value="{{apartment.createdAt?.toLocaleDateString()}}">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <label class="col-sm-4 col-md-2 col-form-label">Ảnh bìa căn hộ</label>
        <div class="col-sm-8 col-md-10 checkbox-radios">
          <div class="col-md-3 col-sm-4">
            <div class="fileinput text-center fileinput-new" data-provides="fileinput">
              <div class="fileinput-new thumbnail">
                <img *ngIf="!apartment.image" src="assets/img/image_placeholder.jpg" alt="...">
                <img *ngIf="apartment.image" src="{{apartment.image}}" alt="...">
              </div>
              <button class="btn btn-primary btn-round btn-icon btn-hover" (click)="deletePhoto(image)">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
              <div class="fileinput-preview fileinput-exists thumbnail" style=""></div>
              <div>
                <span class="btn btn-rose btn-round btn-file">
                  <span class="fileinput-new">Select image</span>
                <span class="fileinput-exists">Change</span>
                <input (change)="detectPhoto($event)" accept="image/png, image/jpeg, image/gif" type="file" multiple="true">
                </span>
                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Chuyen nhuong-->
      <div class="row">
        <label class="col-md-2 col-sm-4 col-form-label">Mô tả</label>
        <div class="col-md-10 col-sm-8">
          <div class="form-group">
            <textarea type="text" *ngIf="this.apartment.type === 'chuyen-nhuong'" class="form-control" [(ngModel)]="transfer.description" name="description" placeholder="Mô tả"></textarea>
            <textarea type="text" *ngIf="this.apartment.type !== 'chuyen-nhuong'" class="form-control" [(ngModel)]="rent.description" name="rent-description" placeholder="Mô tả"></textarea>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="this.apartment.type === 'chuyen-nhuong'; else cho_thue">
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tầng</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [(ngModel)]="transfer.floorNo" name="floorNo" placeholder="Tầng">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Số căn hộ</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="transfer.apartmentNo" name="apartmentNo" placeholder="Số căn hộ">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Diện tích</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [ngModel]="transfer.details?.area" (ngModelChange)="transfer.details.area = $event" name="transfer-area" placeholder="Diện tích">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Số phòng ngủ</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [ngModel]="transfer.details?.bedrooms" (ngModelChange)="transfer.details.bedrooms = $event" name="bedrooms" placeholder="Số phòng ngủ">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Mã căn</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [ngModel]="transfer.details?.code" (ngModelChange)="transfer.details.code = $event" name="code" placeholder="Mã căn">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Ngày bàn giao</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [ngModel]="transfer.details?.deadline" (ngModelChange)="transfer.details.deadline = $event" name="deadline" placeholder="Ngày bàn giao">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Đặt cọc (%)</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [ngModel]="transfer.details?.depositPercent" (ngModelChange)="transfer.depositPercent.deadline = $event" name="depositPercent" placeholder="Đặt cọc (%)">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Chiết khấu (%)</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [ngModel]="transfer.details?.discountPercent" (ngModelChange)="transfer.depositPercent.discountPercent = $event" name="discountPercent" placeholder="Chiết khấu (%)">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Giá bán</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [ngModel]="transfer.details?.giaban" (ngModelChange)="transfer.depositPercent.giaban = $event" name="giaban" placeholder="Giá bán">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Giá trị chênh lệch</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [ngModel]="transfer.details?.giatrichenhlech" (ngModelChange)="transfer.depositPercent.giatrichenhlech = $event" name="giatrichenhlech" placeholder="Giá trị chênh lệch">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Loại sỡ hữu</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [ngModel]="transfer.details?.ownership" (ngModelChange)="transfer.details.ownership = $event" name="ownership" placeholder="Loại sỡ hữu">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Phí sang nhượng</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [ngModel]="transfer.details?.phisangnhuong" (ngModelChange)="transfer.details.phisangnhuong = $event" name="phisangnhuong" placeholder="Phí sang nhượng">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Giá</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="number" class="form-control" [ngModel]="transfer.details?.price" (ngModelChange)="transfer.details.price = $event" name="price" placeholder="Giá">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Trạng thái</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [ngModel]="transfer.details?.status" (ngModelChange)="transfer.details.status = $event" name="status" placeholder="Trạng thái">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tổng giá trị</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [ngModel]="transfer.details?.tonggiatri" (ngModelChange)="transfer.details.tonggiatri = $event" name="tonggiatri" placeholder="Tổng giá trị">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Nhà đầu tư</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="transfer.investors" name="investors" placeholder="Nhà đầu tư">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <span>Video</span>
          <div class="row">
            <label class="col-md-2 col-sm-4 col col-form-label">Mô tả</label>
            <div class="col-md-10 col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [ngModel]="transfer.videos?.description" (ngModelChange)="transfer.videos.description = $event" name="description" placeholder="Mô tả">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 col-sm-4 col-form-label">Đường dẫn</label>
            <div class="col-md-10 col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [ngModel]="transfer.videos?.link" (ngModelChange)="transfer.videos.link = $event" name="link" placeholder="Đường dẫn">
              </div>
            </div>
          </div>
        </div>

        <div>
          <span>Location</span>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <label class="col-sm-4 col-form-label">Vĩ độ</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input type="text" class="form-control" [ngModel]="transfer.location?.lat" (ngModelChange)="transfer.location.lat = $event" name="lat" placeholder="Vĩ độ">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <label class="col-sm-4 col-form-label">Kinh độ</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input type="text" class="form-control" [ngModel]="transfer.location?.lng" (ngModelChange)="transfer.location.lng = $event" name="lng" placeholder="Kinh độ">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-md-2 col-form-label">Địa chỉ</label>
            <div class="col-sm-8 col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" [ngModel]="transfer.location?.address" (ngModelChange)="transfer.location.address = $event" name="laddress" placeholder="Địa chỉ">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title">Mã căn hộ</h4>
              <div class="bootstrap-tagsinput danger-badge" *ngFor="let apartmentCode of transfer.apartmentCode">
                <span class="tag badge">{{apartmentCode}}<span data-role="remove"></span></span>
              </div>
              <div class="bootstrap-tagsinput danger-badge">
                <input type="text" class="form-control" placeholder="Thêm" (keyup.enter)="addCode($event)">
              </div>
            </div>
          </div>

          <h4 class="card-title">Hình ảnh dự án</h4>
          <div class="row">
            <div class="col-md-3 col-sm-4" *ngFor="let image of transfer.images">
              <div class="fileinput text-center fileinput-new image-content" data-provides="fileinput">
                <div class="fileinput-new thumbnail">
                  <img src="{{image}}" height="170px" alt="...">
                </div>
                <button class="btn btn-primary btn-round btn-icon btn-hover" (click)="deletePhoto(image)">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                 </button>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="fileinput text-center fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail">
                  <img src="assets/img/image_placeholder.jpg" alt="...">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style=""></div>
                <div>
                  <span class="btn btn-rose btn-round btn-file">
                                      <span class="fileinput-new">Select image</span>
                  <span class="fileinput-exists">Change</span>
                  <input (change)="detectPhotos($event)" accept="image/png, image/jpeg, image/gif" type="file" multiple="true">
                  </span>
                  <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #cho_thue>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Mã căn</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="apartment.macan" name="macan" placeholder="Mã căn">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Hợp đồng</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="apartment.hopdong" name="hopdong" placeholder="Thời hạn hợp đồng">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Đặt cọc</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="apartment.datcoc" name="datcoc" placeholder="Đặt cọc">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Thanh toán</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="apartment.thanhtoan" name="thanhtoan" placeholder="Thanh toán">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Giá thuê</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="apartment.giathue" name="giathue" placeholder="Giá thuê">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Phòng ngủ</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="number" class="form-control" [(ngModel)]="rent.bedrooms" name="cho-thue-bedrooms" placeholder="Phòng ngủ">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Phòng tắm</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="number" class="form-control" [(ngModel)]="rent.bathrooms" name="cho-thue-bathroom" placeholder="Phòng tắm">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Tình hình nội thất</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="rent.furniture" name="cho-thue-status" placeholder="Tình hình nội thất">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Mục đích sử dụng</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="rent.purpose" name="cho-thue-purpose" placeholder="Mục đích sử dụng">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Tháp</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="rent.thap" name="cho-thue-thap" placeholder="Tháp">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Thời gian bắt đầu cho thuê</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="rent.startDate" name="cho-thue-start-date" placeholder="Thời gian bắt đầu cho thuê">
                </div>
              </div>
            </div>
          </div>
        </div>
        <span>Nội thất</span>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Sofa</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.sofa" name="sofa">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Bàn ăn</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.banan" name="banan">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Nhà bếp</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.nhabep" name="nhabep">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Tủ bếp</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.tubep" name="tubep">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Thiết bị bếp</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.thietbibep" name="thietbibep">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Tủ quần áo</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.tuquanao" name="tuquanao">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Bàn trang điểm</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.bantrangdiem" name="bantrangdiem">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Bàn làm việc</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.banlamviec" name="banlamviec">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Tivi</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.tivi" name="tivi">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Máy giặt</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.maygiat" name="matgiat">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Tủ lạnh</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.tulanh" name="tulanh">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Máy lạnh</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.maylanh" name="maylanh">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Lò vi sóng</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.lovisong" name="lovisong">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Máy nước nóng</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.maynuocnong" name="maynuocnong">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Giường</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.giuong" name="giuong">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Máy sưởi</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.maysuoi" name="maysuoi">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Thiết bị âm thanh</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.thietbiamthanh" name="thietbiamthanh">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

        </div>
        <span>Tiện nghi</span>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Internet</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.internet" name="internet">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Truyền hình cable</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.truyenhinhcable" name="truyenhinhcable">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Cho phép thú cưng</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.chophepthucung" name="chophepthucung">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Thang máy</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.thangmay" name="thangmay">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Hồ bơi</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.hoboi" name="hoboi">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Gym</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.gym" name="gym">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Khu vực làm việc</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.khulamviec" name="khulamviec">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Mở cửa 24h</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.mocua24h" name="mocua24h">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Bãi để ôtô</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.baideoto" name="baideoto">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Ban công</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.bancong" name="bancong">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Phòng xông hơi khô</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.phongxonghoikho" name="phongxonghoikho">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Phòng xông hơi ướt</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.phongxonghoiuot" name="phongxonghoiuot">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">Phòng giải trí</label>
              <div class="col-sm-8">
                <div class="form-check text-right">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="rent.phonggiaitri" name="phonggiaitri">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div style="border-bottom: 1px dotted #dedede;">

                </div>
              </div>
            </div>
          </div>

        </div>
        <div>
          <span>Location</span>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <label class="col-sm-4 col-form-label">Vĩ độ</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input type="number" class="form-control" [ngModel]="rent.location?.lat" (ngModelChange)="rent.location.lat = $event" name="rent-lat" placeholder="Vĩ độ">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <label class="col-sm-4 col-form-label">Kinh độ</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input type="number" class="form-control" [ngModel]="rent.location?.lng" (ngModelChange)="rent.location.lng = $event" name="rent-lng" placeholder="Kinh độ">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-md-2 col-form-label">Địa chỉ</label>
            <div class="col-sm-8 col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" [ngModel]="rent.location?.address" (ngModelChange)="rent.location.address = $event" name="rent-laddress" placeholder="Địa chỉ">
              </div>
            </div>
          </div>

          <h4 class="card-title">Hình ảnh dự án</h4>
          <div class="row">
            <div class="col-md-3 col-sm-4" *ngFor="let image of rent.images">
              <div class="fileinput text-center fileinput-new image-content" data-provides="fileinput">
                <div class="fileinput-new thumbnail">
                  <img src="{{image}}" height="170px" alt="...">
                </div>
                <button class="btn btn-primary btn-round btn-icon btn-hover" (click)="deleteRentPhoto(image)">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="fileinput text-center fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail">
                  <img src="assets/img/image_placeholder.jpg" alt="...">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style=""></div>
                <div>
                  <span class="btn btn-rose btn-round btn-file">
                    <span class="fileinput-new">Select image</span>
                  <span class="fileinput-exists">Change</span>
                  <input (change)="detectRentPhotos($event)" accept="image/png, image/jpeg, image/gif" type="file" multiple="true">
                  </span>
                  <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="card-footer ">
        <button type="button" class="btn btn-fill btn-primary" (click)="update()">Submit</button>
        <button class="btn btn-danger">Hủy</button>
      </div>
    </form>
  </div>
</div>
