.btn-hover {
  position: absolute;
  right: 28%;
  top: -35px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.image-content:hover .btn-hover {
  opacity: 1;
}

.bootstrap-tagsinput input {
  border: 1px solid #e3e3e3;
}

.bootstrap-tagsinput input:focus {
  border: 1px solid #f96332;
}

.text-right .form-check-sign:after, .text-right .form-check-sign:before {
  top: -17px;
}
