<div class="row" *ngIf="projects">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8">
            <h4 class="card-title">Dự án có trên hệ thống</h4>
          </div>
          <div class="col-sm-4" style="text-align: right">
            <a class="btn btn-primary btn-round btn-icon" [routerLink]="['/project/create']">
                <i class="now-ui-icons ui-1_simple-add"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="overflow: auto" [ngClass]="{'max-height-260': !showTotal}">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr>
                <th class="text-center">
                  #
                </th>
                <th>
                  Tên dự án
                </th>
                <th class="text-center" *ngIf="showTotal">
                  Địa chỉ
                </th>
                <th class="text-center" *ngIf="showTotal">
                  Mô tả
                </th>
                <th class="text-center" *ngIf="showTotal">
                  Ngày tạo
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-body" *ngFor="let project of projects; let i = index" [attr.data-index]="i">
                <td class="text-center">
                  {{i+1}}
                </td>
                <td>
                  {{project.name}}
                </td>
                <td class="text-center" *ngIf="showTotal">
                  {{project.address}}
                </td>
                <td class="text-center" *ngIf="showTotal">
                  {{project.description}}
                </td>
                <td class="text-center" *ngIf="showTotal">
                  {{project.createdAt | date}}
                </td>
                <td class="text-center">
                  <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="" [routerLink]="['/project', project.id]">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="" (click)="delete(project.id)">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>

              <tr *ngIf="showTotal">
                <td colspan="5"></td>
                <td class="td-total">Tổng số lượng</td>
                <td class="td-price" style="text-align: left;">{{projects.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
