<div class="hero" style="background-image: url('assets/img/contactUs-hero.png')">
  <h1>Say hello.</h1>
  <h3>Tell us how we can guide you.</h3>
</div>
<div class="container text-center">
  <form>
  <h3 class="font-weight-bold " style="margin-top: 40px">Contact us with a question or concern</h3>
  <div class="md-form" style="width:50%; margin: 10px auto">
    <div class="row">
      <div class="col-lg-6 col-xl-6">
        <input type="text" id="firstName" class="form-control" [(ngModel)]="contact.name" name="name">
        <label for="firstName">Name</label>
      </div>
      <div class="col-lg-6 col-xl-6">
        <input type="text" id="lastName" class="form-control" [(ngModel)]="contact.email" name="email">
        <label for="lastName">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-6">
        <input type="text" id="wit" class="form-control" [(ngModel)]="contact.title" name="title">
        <label for="wit">What is this regarding?</label>
      </div>
      <div class="col-lg-6 col-xl-6">
        <input type="text" id="phone" class="form-control" [(ngModel)]="contact.phone" name="phone">
        <label for="phone">Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-12">
        <textarea type="text" id="message" class="md-textarea form-control" rows="3" [(ngModel)]="contact.message" name="message"></textarea>
        <label for="message">Message</label>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-elegant waves-effect margin-top-15" (click)="create()">Send Message</button>
</form>
</div>
