.hero {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: 50%;
  text-align: center;
  padding: 40px;
}
