<div class="card" *ngIf="contact">
  <a class="btn btn-primary btn-round btn-icon" style="margin-left: 10px;" [routerLink]="['/lien-he']"><i class="fa fa-reply"></i></a>
  <div class="card-header text-center">
    <h1 class="card-title">Quản lý liên hệ</h1>
  </div>
  <div class="card-body">
    <form class="form-horizontal">
      <div class="row">

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tên</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tên" [(ngModel)]="contact.name" name="name">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" [(ngModel)]="contact.email" name="email">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tiêu đề</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tiêu đề" [(ngModel)]="contact.title" name="title">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Phone</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="contact.phone" name="phone">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Nội dung</label>
            <div class="col-sm-8">
              <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Nội dung" [(ngModel)]="contact.message" name="message"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
