<div class="row" *ngIf="users">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Khách hàng đang sử dụng hệ thống</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="overflow: auto">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr>
                <th class="text-center">
                  #
                </th>
                <th class="text-center">
                </th>
                <th>
                  Họ
                </th>
                <th>
                  Tên
                </th>
                <th class="text-center">
                  Email
                </th>
                <th class="text-right">
                  Số điện thoại
                </th>
                <th class="text-right">
                  Ngày tham gia
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-body" *ngFor="let user of users; let i = index" [attr.data-index]="i" [routerLink]="['/user', user.id]">
                <td class="text-center" >
                  {{i+1}}
                </td>
                <td class="text-center">
                  <div class="form-check">
                    <label class="form-check-label">
                           <input class="form-check-input" type="checkbox" checked="">
                           <span class="form-check-sign"></span>
                           </label>
                  </div>
                </td>
                <td>
                  {{user.firstName}}
                </td>
                <td>
                  {{user.lastName}}
                </td>
                <td class="text-center">
                  {{user.email}}
                </td>
                <td class="text-right">
                  {{user.phoneNumber}}
                </td>
                <td class="text-right">
                  {{user.createdAt | date}}
                </td>
              </tr>

              <tr *ngIf="showTotal">
                <td colspan="5"></td>
                <td class="td-total">Tổng số lượng</td>
                <td class="td-price" style="text-align: left;">{{users.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
