.height-300 {
  height: 300px;
}

.height-400 {
  height: 400px;
}

.more {
  background: rgba(0, 0, 0, .7);
  cursor: pointer;
  color: #fff !important;
  padding-top: 4px;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
  padding-top: 34%;
}
