<div class="row">
  <div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <div class="mdb-lightbox no-margin">
      <!-- <ks-modal-gallery [modalImages]="images"
                            [downloadable]="true"
                            [buttonsConfig]="customButtonsConfigExtUrlNewTab"></ks-modal-gallery> -->
      <ks-modal-gallery [modalImages]="images" [plainGalleryConfig]="customPlainGalleryRowConfig"></ks-modal-gallery>
      <div *ngFor="let img of images; let i = index">
        <figure *ngIf="i <= 4" [ngClass]="{'col-md-6 height-400': i < 2, 'col-md-4 height-300': i >= 2}">
          <a (click)="openImageModalRow(img)" data-size="1600x1067" >
            <a class="more" *ngIf="i == 4 && ((images.length - 4 - 1) > 0)" (click)="openImageModalRow(img)"> +{{images.length - 4 - 1}} more </a>
          <div style="cursor: zoom-in" class="image-background" [ngStyle]="{'background-image': 'url(' + img.modal.img + ')', 'height': '100%' }">
          </div>
          <!-- <img src="{{img.modal.img}}" (click)="openImageModalRow(img)" class="img-fluid"> -->
          </a>
        </figure>
      </div>
    </div>

  </div>
</div>
