<table class="table table-sm text-center">

  <!--Table head-->
  <thead>
    <tr>
      <th>Cập Nhật</th>
      <th>Mã Căn</th>
      <th>Vị Trí Tầng</th>
      <th>Giá bán / m <sup>2</sup></th>
      <th>Giá Chuyển Nhượng</th>
      <th>Thanh Toán</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr *ngFor="let row of apartmentRows">
      <td>{{row.createdAt | date: 'hh:mm'}} <br />{{row.createdAt | date: 'dd/MM/yyyy'}}</td>
      <td>{{row.macan}}</td>
      <td>{{row.vitri}}</td>
      <td>{{row.giaban}}tr/m<sup>2</sup></td>
      <td style="color: red"><strong>{{row.giachuyennhuong  | number:'.'}}</strong></td>
      <td><a (click)="detail(row)" class="btn btn-blue-outline waves-effect small-button" type="button" data-toggle="modal" data-target="#apartmentDetail"><i class="fa fa-phone"></i> Chi Tiết</a></td>
    </tr>
  </tbody>
  <!--Table body-->

</table>

<div class="modal fade" id="apartmentDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <a class="btn-floating close" data-dismiss="modal"><i class="fa fa-times"></i></a>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content text-center">
      <!-- <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="width: 100%"><strong>Thông tin chi tiết</strong></h3>
      </div>
      <div class="bottom-line" style="width: 100px; margin: 0 auto">

      </div> -->
      <div class="modal-body text-left">
        <div class="row">
          <div class="col-xl-6 col-lg-12">
            <div class="row">
              <div class="col-lg-12 law-image text-center">
                <ngx-carousel [inputs]="carouselTile">
                  <ngx-item NgxCarouselItem *ngFor="let item of items">
                    <img class="img-fluid" src="{{item}}" width="200px" alt="Card image cap">
                  </ngx-item>
                  <div style="display: none">
                    <button NgxCarouselPrev #prevButton class='leftRs slide'>&lt;</button>
                    <button NgxCarouselNext #nextButton class='rightRs slide'>&gt;</button>
                  </div>
                </ngx-carousel>
                <!-- <a class="btn btn-elegant waves-effect small-button" (click)="prev()" type="button"><i data-original-title="Previous" class="fa fa-angle-left btooltip">&nbsp;</i></a>
                <a class="btn btn-elegant waves-effect small-button" (click)="next()" type="button"><i data-original-title="Next" class="fa fa-angle-right btooltip rightB">&nbsp;</i></a> -->
                <div class="text-center control-slide" style="position: absolute;top: 140px;">
                  <a class="btn btn-outline-none waves-effect small-button" (click)="prev()"><i data-original-title="Previous" class="fa fa-angle-left btooltip">&nbsp;</i></a>
                  <a style="right: -232px;" class="btn btn-outline-none waves-effect small-button" (click)="next()"><i data-original-title="Next" class="fa fa-angle-right btooltip rightB">&nbsp;</i></a>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="apartmentRow">
              <div class="col-xl-12 col-lg-12 ">
                <span>Thông tin giao nhà:</span> <strong style="float: right">{{apartmentRow.thongtingiaonha}}</strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-12 col-lg-12 ">
                <span>Số block:</span> <strong style="float: right">{{apartmentRow.soblock}}</strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-12 col-lg-12 ">
                <span>Số căn hộ:</span> <strong style="float: right">{{apartmentRow.socanho | number:'.'}}</strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-12 col-lg-12 ">
                <span>Mật độ xây dựng (%):</span> <strong style="float: right">{{apartmentRow.matdoxaydung}}</strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-12 col-lg-12 ">
                <span>Chủ đầu tư:</span> <strong style="float: right">{{apartmentRow.chudautu}}</strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12" *ngIf="apartmentRow">
            <h3 class="text-center" style="background-color: #ddd; padding: 30px">Thông tin thanh toán</h3>
            <div class="row">
              <div class="col-xl-12 col-lg-12 ">
                <span>Giá bán (bao gồm VAT):</span> <strong style="float: right">{{apartmentRow.giabanvat | number:'.'}} vnđ/m<sup>2</sup></strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>

              <div class="col-xl-12 col-lg-12 ">
                <span>Tổng giá trị:</span> <strong style="float: right">{{apartmentRow.tonggiatri | number:'.'}} vnđ</strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>

              <div class="col-xl-12 col-lg-12 ">
                <span>Tiến độ thanh toán:</span> <strong style="float: right">{{apartmentRow.tiendothanhtoan}}% = {{(apartmentRow.tonggiatri * apartmentRow.tiendothanhtoan) / 100  | number:'.'}} vnđ</strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>

              <div class="col-xl-12 col-lg-12 ">
                <span>Chiết khấu:</span> <strong style="float: right">{{apartmentRow.chietkhau}}%</strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 62px"></div>
              </div>

              <div class="col-xl-12 col-lg-12 ">
                <span>Giá trị chênh lệch:</span> <strong style="float: right">{{apartmentRow.giatrichenhlech | number:'.'}}<sup>VNĐ</sup></strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>

              <div class="col-xl-12 col-lg-12 ">
                <span>Phí sang nhượng:</span> <strong style="float: right">{{apartmentRow.phisangnhuong | number:'.'}} vnđ</strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>

              <div class="col-xl-12 col-lg-12 ">
                <span>Thanh toán sang nhượng:</span> <strong style="float: right">{{apartmentRow.thanhtoansangnhuong | number:'.'}} vnđ</strong>
                <div class="bottom-thin-line" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
            </div>

            <!-- <div class="modal-footer">
              <a type="button" class="btn btn-outline-black waves-effect font-weight-bold" data-dismiss="modal">Đóng</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
