.custom-border-row {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

p {
  margin-bottom: 0px;
}

.balance {
  padding: 20px 20px 10px 0px;
}

h3 {
  font-size: 1.55rem;
}

.table {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #e9ecef;
  font-size: 18px;
  font-weight: bold;
}

tr td {
  vertical-align: inherit;
}

.nav-item {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.nav-item a {
  color: black;
}

.nav-tabs {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: -30px;
  padding: 0px;
}

/* a i {
  padding-top: 3px;
} */

.btn {
  border-radius: 3px;
}

.modal-body .row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.law-image img {
  padding: 0.5rem;
}

.modal-dialog {
  top: 12%;
}

.control-slide a {
  padding: .85rem 1.13rem;
  margin-bottom: 20px;
  color: black !important;
}

a {
  text-transform: none;
}

.modal-footer {
  padding: 0px;
  padding-top: 10px;
}

.close {
  /* float: right; */
  background-color: black;
}
.close:hover {
  background-color: transparent;
}
