<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="width: 100%"><strong>Xin Chào</strong></h3>
      </div>
      <div class="bottom-line" style="width: 100px; margin: 0 auto">

      </div>
      <span style="margin-top: 20px">Log in to your Compass account to see the most homes and enjoy the full experience.</span>
      <div class="modal-body">
        <div class="md-form" style="width:90%; margin: 10px auto">
          <div class="row">
            <div class="col-lg-12 col-xl-12">
              <input type="text" id="email" class="form-control" [(ngModel)]="email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-xl-12">
              <input type="password" id="password" class="form-control" [(ngModel)]="password">
              <label for="password">Mật khẩu</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-white waves-effect " style="color:black !important;" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="loginByEmailAndPassword()">Đăng Nhập</button>
      </div>
    </div>
  </div>
</div>
