<div class="card wow fadeIn" data-wow-delay="0.2s" >

  <!--Card image-->
  <div class="image-background" [ngStyle]="{'background-image': 'url(' + transferApartment.image + ')', 'height': '300px', 'width': '100%' }">
  </div>
  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <a><h4 class="card-title" [routerLink]="['/chuyen-nhuong', transferApartment.id]" >{{transferApartment.category}}</h4></a>
    <!--Text-->
    <p class="card-text">{{transferApartment.address}}</p>
  </div>

</div>
