.card-body {
  position: absolute !important;
  bottom: 0;
  color: white;
  padding: 0.5rem;
}

.card-text {
  font-size: 10px;
  color: white;
}

a:hover {
  color: rgb(215, 218, 222) !important;
}
