/* You can add global styles to this file, and also import other style files */

.image-background {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

a {
  cursor: pointer;
}

.tr-body:hover {
  cursor: pointer;
  background-color: #fcb199 !important;
}
