<footer class="consumerFooter">
  <div class="container text-center text-md-left custom-footer">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-4 col-lg-4 col-xl-4 mb-4">
        <img src="assets/img/logo.png" width="70px" height="70px" />
        <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
        <h6 class="footer-header"><strong>Căn hộ Nha Trang</strong></h6>
        <p class="footer-address">90 Fifth Avenue, 3rd Floor</p>
        <p class="footer-address">New York NY 10011</p>
        <p class="footer-address">212.913.9058</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2">
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 180px;">
        <h6 class="font-weight-bold footer-links"><strong>Products</strong></h6>
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-2 col-lg-2 col-xl-2">
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 180px;">
        <h6 class="font-weight-bold footer-links">
                   <strong>Useful links</strong>
               </h6>
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>
      <!--/.Third column-->

      <!--Fourth column-->
      <div class="col-md-2 col-lg-2 col-xl-2">
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 180px;">
        <h6 class="font-weight-bold footer-links">
                   <strong>Contact</strong>
               </h6>
        <p>
          <a href="#"><i class="fa fa-home mr-3"></i> New York, NY 10012, US</a>
        </p>

        <p>
          <a href="#"><i class="fa fa-envelope mr-3"></i> info@example.com</a>
        </p>
        <p>
          <a href="#"><i class="fa fa-phone mr-3"></i> + 01 234 567 88</a>
        </p>
        <p>
          <a href="#"><i class="fa fa-print mr-3"></i> + 01 234 567 89</a>
        </p>
      </div>
      <!--/.Fourth column-->

    </div>
    <div class="row mt-3 wrapper">
      <div class="col-md-4">
        <ul>
          <li><a href="#!"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#!"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#!"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-md-8">
        <p class="footer-address footer-copyright">Homes for Sale · Homes for Rent · Recently Sold Homes</p>
        <p class="footer-address footer-copyright">Terms & Conditions and Privacy Policy</p>
        <p class="footer-address footer-legalDisclaimer">Compass is a licensed real estate broker and abides by Equal Housing Opportunity laws. © Compass. All Rights Reserved. 2012-2018 · Made in NYC</p>
      </div>
    </div>
  </div>
  <!--/.Footer Links-->
</footer>
