.consumerFooter {
    background-image: url('/assets/img/svg/footerContour.svg');
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.custom-footer {
  padding-top: 25px;
  color: white;
}

p {
  font-size: 14px;
}

hr {
  background-color: #3e4247;
  padding-top: 1px;
  margin-bottom: 0.5rem !important
}

li {
  display: inline;
  font-size: 25px;
  padding-right: 15px;
}
.footer-address {
  margin-bottom: 0;
  color: #a9afb6;
  font-size: 14px;
}

.footer-header{
  font-size: 14px;
  padding-top: 20px;
}

h6 {
  color: #646971;
  padding-bottom: 20px;
}

a {
  color: hsla(0,0%,100%,.75)
}

a:hover {
  color: white;
}

.footer-copyright {
  color: #fff;
  font-size: 12px;
}
.footer-legalDisclaimer {
  color: #a9afb6;
  font-size: 11px;
}

.wrapper{
  padding-top: 30px;
  padding-bottom: 20px;
}
