<div class="container">

  <div class="row search-bar">
    <div class="col-lg-8" style="display: inline-flex;">
      <!-- <svg class="uc-searchBarOmnibox-searchIcon" viewBox="0 0 25 25">
        <path d="M17.8724934,19.3481945 C17.4662,18.9419012 17.4643401,18.2850294 17.8746847,17.8746847 L17.8746847,17.8746847 C18.2821883,17.4671811 18.9468084,17.4711073 19.3481945,17.8724934 L23.7796805,22.3039794 C24.1859739,22.7102728 24.1878338,23.3671445 23.7774892,23.7774892 L23.7774892,23.7774892 C23.3699856,24.1849928 22.7053655,24.1810666 22.3039794,23.7796805 L17.8724934,19.3481945 L17.8724934,19.3481945 Z"></path>
        <path d="M19.7391304,9.86956522 C19.7391304,4.41875486 15.3203756,0 9.86956522,0 C4.41875486,0 0,4.41875486 0,9.86956522 C0,15.3203756 4.41875486,19.7391304 9.86956522,19.7391304 C15.3203756,19.7391304 19.7391304,15.3203756 19.7391304,9.86956522 Z M2,9.86956522 C2,5.52332436 5.52332436,2 9.86956522,2 C14.2158061,2 17.7391304,5.52332436 17.7391304,9.86956522 C17.7391304,14.2158061 14.2158061,17.7391304 9.86956522,17.7391304 C5.52332436,17.7391304 2,14.2158061 2,9.86956522 Z"></path>
      </svg>
      <input style="margin-top: 5px;font-size: 14px;" width="90%" type="text" class="form-control no-border" placeholder="Search for features, places, and more. Try “Doorman”, “Elevator”, or “Gym”" /> -->
    </div>

    <div class="col-lg-4">
      <form class="form-inline">
        <ul class="navbar-nav" style="display: inline-block">

          <li class="nav-item btn-group">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Price
            </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink" style="margin-left: -60px;">
              <div class="md-form">
                <div class="row" style="padding-left: 20px">
                  <div class="col-lg-6 col-xl-6">
                    <span>Min Price</span>
                    <input type="text" id="phone" class="form-control" placeholder="$">
                  </div>
                  <span class="center">To</span>
                  <div class="col-lg-6 col-xl-6">
                    <span>Max Price</span>
                    <input type="text" id="address" class="form-control" placeholder="$">
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item btn-group">
            <a class="nav-link dropdown-toggle" id="bed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Beds
            </a>
            <div class="dropdown-menu dropdown-primary dropdown-menu-form" aria-labelledby="bed" #dropdown style="margin-left: -120px;">
              <form class="form-inline">

                <div class="form-check">
                  <input type="checkbox" (click)="check()" class="filled-in form-check-input" id="checkbox1">
                  <label class="form-check-label" click="this.block = 'block'" for="checkbox1">Studio</label>
                </div>


                <div class="form-check">
                  <input type="checkbox" class="filled-in form-check-input" id="checkbox2">
                  <label class="form-check-label" for="checkbox2">Alcove Studio</label>
                </div>

                <div class="form-check">
                  <input type="checkbox" class="filled-in form-check-input" id="checkbox3">
                  <label class="form-check-label" for="checkbox3">1</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="filled-in form-check-input" id="checkbox4">
                  <label class="form-check-label" for="checkbox4">2</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="filled-in form-check-input" id="checkbox5">
                  <label class="form-check-label" for="checkbox5">3</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="filled-in form-check-input" id="checkbox6">
                  <label class="form-check-label" for="checkbox6">4</label>
                </div>

              </form>
            </div>
          </li>
          <li class="nav-item btn-group">
            <a class="nav-link dropdown-toggle" id="baths" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Baths
            </a>
            <div class="dropdown-menu dropdown-primary dropdown-menu-form" aria-labelledby="baths" style="margin-left: -180px;">
              <div class="row">
                <div class="form-check radio-pink-gap col-lg-3">
                  <input name="group103" type="radio" class="with-gap" id="radio109">
                  <label for="radio109">Any</label>
                </div>

                <div class="form-check radio-pink-gap col-lg-3">
                  <input name="group103" type="radio" class="with-gap" id="radio110" checked>
                  <label for="radio110">1+</label>
                </div>

                <div class="form-check radio-pink-gap col-lg-3">
                  <input name="group103" type="radio" class="with-gap" id="radio111">
                  <label for="radio111">2+</label>
                </div>

                <div class="form-check radio-pink-gap col-lg-3">
                  <input name="group103" type="radio" class="with-gap" id="radio112">
                  <label for="radio112">3+</label>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item btn-group">
            <a class="nav-link dropdown-toggle" id="Filters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filters
            </a>
            <div class="dropdown-menu dropdown-primary dropdown-menu-form" aria-labelledby="Filters" style="margin-left: -540px;    min-width: 60rem;">
              <div class="filters">
                <span>Available On or Before</span>
                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <!-- <date-time-picker></date-time-picker> -->
                    <input type="text" id="availabledate" class="form-control" placeholder="dd/mm/yy">
                  </div>
                </div>
              </div>

              <div class="filters">
              <span>Features</span>
              <div class="row">
                <div class="form-check col-lg-3 col-md-3">
                  <ul>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="doorman">
                      <label class="form-check-label" for="doorman">Doorman</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="furnished">
                      <label class="form-check-label" for="furnished">Furnished</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="heating">
                      <label class="form-check-label" for="heating">Heating</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="laundryinbuilding">
                      <label class="form-check-label" for="laundryinbuilding">Laundry in Building</label>
                    </li>
                  </ul>
                </div>
                <div class="form-check col-md-3 col-lg-3">
                  <ul>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="elevator">
                      <label class="form-check-label" for="elevator">Elevator</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="centralac">
                      <label class="form-check-label" for="centralac">Central AC</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="highceilings">
                      <label class="form-check-label" for="highceilings">High Ceilings</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="privateoutdoorspace">
                      <label class="form-check-label" for="privateoutdoorspace">Private Outdoor Space</label>
                    </li>
                  </ul>
                </div>
                <div class="form-check col-md-3 col-lg-3">
                  <ul>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="gym">
                      <label class="form-check-label" for="gym">Gym</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="dishwasher">
                      <label class="form-check-label" for="dishwasher">Dishwasher</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="hardwoodfloor">
                      <label class="form-check-label" for="hardwoodfloor">Hardwood Floors</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="commonoutdoorspace">
                      <label class="form-check-label" for="commonoutdoorspace">Common Outdoor Space</label>
                    </li>
                  </ul>
                </div>
                <div class="form-check col-lg-3 col-md-3">
                  <ul>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="pool">
                      <label class="form-check-label" for="pool">Pool</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="storage">
                      <label class="form-check-label" for="storage">Storage</label>
                    </li>
                    <li>
                      <input type="checkbox" class="filled-in form-check-input" id="laundryinunit">
                      <label class="form-check-label" for="laundryinunit">Laundry in Unit</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="filters">
              <span>Pets</span>
              <div class="row">
                <div class="form-check col-lg-3 col-md-3" style="padding-right: 50px">
                  <input type="checkbox" class="filled-in form-check-input" id="dog">
                  <label class="form-check-label" for="dog">Dog Allowed</label>
                </div>
                <div class="form-check col-lg-3 col-md-3" style="padding-right: 79px">
                  <input type="checkbox" class="filled-in form-check-input" id="cat">
                  <label class="form-check-label" for="cat">Cat Allowed</label>
                </div>
              </div>
            </div>
            <div class="filters">
              <span>Listing Type</span>
              <div class="row">
                <div class="form-check col-lg-3 col-md-3" style="padding-right: 20px">
                  <input type="checkbox" class="filled-in form-check-input" id="compasslisting">
                  <label class="form-check-label" for="compasslisting">Compass Listings</label>
                </div>
                <div class="form-check col-lg-3 col-md-3" style="padding-right: 110px">
                  <input type="checkbox" class="filled-in form-check-input" id="nofee">
                  <label class="form-check-label" for="nofee">No Fee</label>
                </div>
              </div>
            </div>
            <div class="filters">
              <span>Open Houses</span>
              <div class="row">
                <div class="col-lg-8 col-md-8">
                  <input type="text" id="fromdate" class="form-control " placeholder="dd/mm/yy"> To <input type="text" id="todate" class="form-control" placeholder="dd/mm/yy">
                </div>
              </div>
            </div>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>

<div style="height: 50px; background-color: rgb(234, 235, 240)">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8 col-xl-8 result-txt" style="height: 100%;margin-top: 15px;">
        <span>12,720 Results</span>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 for-rent">
        <div class="row">
          <div class="col-md-7 col-lg-7 col-xl-7">
            <select class="mdb-select">
              <option value="" selected>Default sort</option>
              <option value="1">Updated Date - Most Recent</option>
              <option value="2">Price - Low to High</option>
              <option value="3">Price - High to Low</option>
              <option value="4">Available Date - Most Recent</option>
              <option value="5">Listed Date - Most Recent</option>
              <option value="6">Address - A to Z</option>
              <option value="7">Neighborhood - A to Z</option>
            </select>
          </div>
          <div class="col-md-5 col-lg-5 col-xl-5">
            <ul class="nav nav-tabs nav-justified tab-view" style="background-color: rgb(234, 235, 240)">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab" style="margin-top: 5px"><i class="fa fa-th"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel2" role="tab" style="margin-top: 5px"><i class="fa fa-align-justify"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div>

  </div>
</div>

<div class="tab-content card">
  <!--Panel 1-->
  <div class="tab-pane fade in show active" id="panel1" role="tabpanel">

    <div class="container" style="margin-top: 20px;">
      <div class="row">
        <div class="col-lg-4 mb-4" id="" *ngFor="let apartment of apartments">
          <apartment-for-rent [apartment]="apartment"></apartment-for-rent>
        </div>
      </div>
    </div>
  </div>
  <!--/.Panel 1-->
  <!--Panel 2-->
  <div class="tab-pane fade" id="panel2" role="tabpanel">
    <div style="padding-top: 30px; padding-bottom: 30px">
      <div class="container" *ngFor="let apartment of apartments">
        <apartment-for-sale [apartment]="apartment"></apartment-for-sale>
      </div>
    </div>

  </div>
  <!--/.Panel 2-->
</div>
