.navbar a, .nav-link {
  color: black !important;
}

.search-bar {
  padding: 10px;
  font-size: 14px;
}

.dropdown-menu {
  min-width: 30rem;
}

input {
  color: black !important;
  border: 1px solid black;
  border-radius: 2px;
  border-color: black !important;
  height: 1rem;
}

.navbar-nav li {
  padding-left: 20px;
}

.form-check li {
  padding-left: 0px
}

li {
  font-size: 14px;
}

[type=checkbox]+label, [type=radio]+label {
  font-size: 14px;
}

.form-control {
  line-height: 0.5;
  padding: 5px;
  margin-bottom: 0rem;
}

.navbar.navbar-dark form input[type=text]:focus:not([readonly]) {
  border-color: black !important;
}

.navbar.navbar-dark form input[type=text]:focus:not([readonly]) {
  border-color: black;
}

input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 1px 0 0 black;
  box-shadow: none;
}

.md-form {
  margin-bottom: 0rem;
}

.center {
  position: absolute;
  top: 30px;
  left: 227px;
}

input[type=text]::placeholder {
  color: rgb(120, 116, 120) !important;
}

.no-border {
  border: none;
}

.form-inline .form-check-label {
  padding-left: 25px;
}

.uc-searchBarOmnibox-searchIcon {
  margin: 3px 14px 3px 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  fill: hsla(217, 6%, 42%, .75);
  transition: fill .2s ease;
}

.actionBar {
  padding-top: 17px;
  color: #a9afb6;
  font-size: 12px;
  padding-left: 20px;
}

.select-wrapper, .mdb-select {
  width: 300px;
}

.select-dropdown {
  height: 40px;
}

.mdb-select {
  height: 40px;
}

.btn {
  margin: 0;
}

.tab-view {
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.result-txt {
  font-size: 12px;
  color: #a9afb6;
}

.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-link.active {
  background-color: rgba(154, 151, 151, 0.2);
}

.tab-content {
  padding: 0rem;
  padding-top: 0rem;
  background-color: none;
}

.tab-content {
  box-shadow: none !important;
}

li {
  list-style-type: none;
}

input {
  border-color: #00617d;
  background-color: #fff;
  color: #000;
}

.filters {
  padding-left: 20px;
}

.mb-4 {
  padding-left: 30px;
  padding-right: 30px;
}
