<div class="card" *ngIf="task">
  <a class="btn btn-primary btn-round btn-icon" style="margin-left: 10px;" [routerLink]="['/task']"><i class="fa fa-reply"></i></a>
  <div class="card-header text-center">
    <h1 class="card-title">Quản lý công việc</h1>
  </div>
  <div class="card-body">
    <form class="form-horizontal">
      <div class="row">

        <div class="col-md-12">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tiêu đề</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Tiêu đề" [(ngModel)]="task.title" name="title">
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <label class="col-sm-4 col-form-label">Mô tả</label>
            <div class="col-sm-8">
              <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Mô tả" [(ngModel)]="task.description" name="description"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align: center">
        <button type="button" class="btn btn-secondary btn-rounded" style="background-color: rgb(249, 99, 50)" (click)="updateOrCreate()">Submit</button>
      </div>
    </form>
  </div>
</div>
