.picker--opened .picker__holder {
    top: 0;
    background: 0 0;
    zoom: 1;
    background: rgba(0,0,0,.32);
    -webkit-transition: background .15s ease-out;
    transition: background .15s ease-out;
}
.picker--opened .picker__frame {
    top: 10%;
    bottom: auto;
}

.picker__box .picker__header {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.picker__box .picker__header .picker__date-display {
    text-align: center;
    background-color: #4285f4;
    padding-bottom: 15px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.picker__box .picker__header .picker__date-display .picker__weekday-display {
    background-color: #206ff2;
    padding: 10px;
    font-weight: 200;
    letter-spacing: .5;
    font-size: 1rem;
    margin-bottom: 15px;
}

.picker__box .picker__header .picker__date-display .picker__month-display {
    text-transform: uppercase;
    font-size: 2rem;
}

.picker__box .picker__header .picker__date-display .picker__day-display {
    font-size: 4.5rem;
    font-weight: 400;
}

.picker__box .picker__header .picker__date-display .picker__year-display {
    font-size: 1.8rem;
    color: rgba(255,255,255,.4);
}

.picker__box .picker__header .picker__select--year {
    width: 30%;
}

.picker__box .picker__header .picker__select--month, .picker__box .picker__header .picker__select--year {
    height: 2em;
    padding: 0;
    margin-left: .25em;
    margin-right: .25em;
    display: inline-block;
}

.picker__box .picker__header .picker__nav--prev {
    left: -1em;
    padding-right: 1.25em;
}

.picker__box .picker__header .picker__nav--next {
    right: -1em;
    padding-left: 1.25em;
}

.picker__box .picker__table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: 1rem;
    width: 100%;
    margin-top: .75em;
    margin-bottom: .5em;
}

.picker__box .picker__table .picker__weekday {
    padding-bottom: .5em;
}

.picker__box .picker__table .picker__day--outfocus {
    display: none;
    padding: .75rem 0;
}

.picker__box .picker__table td {
    margin: 0;
    padding: 0;
}

.picker__box .picker__footer {
    text-align: right;
    padding: 5px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.picker__box .picker__footer .picker__button--clear, .picker__box .picker__footer .picker__button--close, .picker__box .picker__footer .picker__button--today {
    border: 1px solid #fff;
    background: #fff;
    font-size: .8em;
    padding: 1rem 0 .7rem 0;
    font-weight: 700;
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;
}

.picker__box .picker__footer .picker__button--clear, .picker__box .picker__footer .picker__button--close, .picker__box .picker__footer .picker__button--today {
    border: 1px solid #fff;
    background: #fff;
    font-size: .8em;
    padding: 1rem 0 .7rem 0;
    font-weight: 700;
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;
}

.picker__box .picker__footer .picker__button--clear, .picker__box .picker__footer .picker__button--close, .picker__box .picker__footer .picker__button--today {
    border: 1px solid #fff;
    background: #fff;
    font-size: .8em;
    padding: 1rem 0 .7rem 0;
    font-weight: 700;
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;
}
