<div class="card wow fadeIn" data-wow-delay="0.2s">

  <!--Card image-->
  <!-- <img class="img-fluid" src="{{apartment.image}}" alt="Card image cap"> -->
  <div class="image-background" [ngStyle]="{'background-image': 'url(' + apartment.image + ')', 'height': '250px', 'width': '100%' }">
  </div>
  <h2 class="category-label">{{apartment.category}}</h2>
  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title" ><a [routerLink]="['/chuyen-nhuong', apartment.id]">{{apartment.name}}</a></h4>
    <!--Text-->
    <!-- <p class="card-text">

    </p> -->
    <div class="row">
      <div class="col-lg-6">
        <ul class="price">
          <li>
            Mã căn: A0212691
          </li>
        </ul>
      </div>
      <div class="col-lg-6" style="text-align: right">
        <ul class="price">
          <li>
            Giá bán: 22tr/m<sup>2</sup>
          </li>
        </ul>
      </div>
    </div>
    <ul class="info">
      <li>
        <i class="fa fa-bed" aria-hidden="true"></i> 2
      </li>
      <li>
        <i class="fa fa-expand" aria-hidden="true"></i> 65.75m<sup>2</sup>
      </li>
    </ul>
    <div class="row">
      <div class="col-lg-6">
        <span style="font-size: 16px">Tổng giá trị:</span>
      </div>
      <div class="col-lg-6" style="text-align: right">
        <span style="font-size: 22px; color: red;">2.5 tỷ</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <span style="font-size: 16px">Giá trị chênh lệch:</span>
      </div>
      <div class="col-lg-6" style="text-align: right">
        <span style="font-size: 22px; color: red;">160,000,000đ</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <span style="font-size: 16px">Thanh toán:</span>
      </div>
      <div class="col-lg-6" style="text-align: right">
        <span style="font-size: 22px; color: red;">860,000,000đ</span>
      </div>
    </div>
  </div>

</div>
