<div class="card " style="padding-top: 10px;">
  <a class="btn btn-primary btn-round btn-icon" style="margin-left: 10px;" [routerLink]="['/project']"><i class="fa fa-reply"></i></a>
  <div class="card-header text-center">
    <h1 class="card-title">Quản lý dự án</h1>
  </div>
  <div class="card-body" *ngIf="project">
    <form method="get" action="/" class="form-horizontal">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Tên dự án</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="project.name" name="name" placeholder="Tên dự án">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-4 col-form-label">Địa chỉ</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="project.address" name="address" placeholder="Địa chỉ">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-sm-4 col-form-label">Mô tả</label>
        <div class="col-md-10 col-sm-8">
          <div class="form-group">
            <textarea type="text" class="form-control" [(ngModel)]="project.description" name="description" placeholder="Mô tả"></textarea>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <button type="button" class="btn btn-fill btn-primary" (click)="updateOrCreate()">Submit</button>
        <a [routerLink]="['/project']" class="btn btn-danger">Hủy</a>
      </div>
    </form>
  </div>
</div>
