<div class="row" *ngIf="users">
  <div class="col-lg-4">
    <!-- <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Global Sales</h5>
        <h4 class="card-title">Shipped Products</h4>
        <div class="dropdown">
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                            <i class="now-ui-icons loader_gear"></i>
                        </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="lineChartExample"></canvas>
        </div>
        <project-list></project-list>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div> -->
    <project-list></project-list>

  </div>
  <div class="col-lg-8 col-md-6">
    <apartment-list></apartment-list>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <task-list></task-list>
  </div>
  <div class="col-md-6">
    <user-list></user-list>
  </div>

</div>
