.all-icons .font-icon-detail {
  text-align: center;
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 0.1875rem;
  margin: 15px 0;
  min-height: 168px;
}

.table-shopping .td-number {
  text-align: center;
  min-width: 170px;
}

td {
  max-width: 250px;
}

.max-height-260 {
  max-height: 260px;
}
