.card, .card .card-body h3, .card .card-body h4, .card .card-text {
  font-weight: 500;
  font-size: large;
}

.price li {
  color: #747373;
  font-size: 13px;
  list-style-type: none;
}

.price li:before {
  content: '\2022';
  color: #747373;
  padding-right: 0.5em;
}

.info li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
}

.category-label {
  position: absolute;
  color: white;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  font: italic normal normal 22px/1.4em wfont_fa0aa1_49ced62168d749759ca80c918d06efc9, wf_49ced62168d749759ca80c918, orig_dpdidothtfmmedium;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.category-label:hover {
  background-color: white;
  color: rgba(74, 88, 104, 1) !important;
}

a {
  color: #2e2e2e;
}

a:hover {
  color: black;
}

.summary {
  padding-right: 0;
}

.card-title {
  height: 42px;
}
