<div class="card wow fadeIn" data-wow-delay="0.2s">

  <!--Card image-->
  <!-- <img class="img-fluid" src="{{apartment.image}}" alt="Card image cap"> -->
  <div class="image-background" [ngStyle]="{'background-image': 'url(' + apartment.image + ')', 'height': '250px', 'width': '100%' }">
  </div>
  <h2 class="category-label">{{apartment.category}}</h2>
  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title"><a [routerLink]="['/cho-thue', apartment.id]">{{apartment.name}}</a></h4>
    <!--Text-->
    <!-- <p class="card-text">

    </p> -->
    <div class="row">
      <div class="col-md-6 summary">
        <ul class="price">
          <li>
            Mã căn: {{apartment.macan}}
          </li>
          <li>
            Hợp đồng: {{apartment.hopdong}}
          </li>
          <li>
            Thanh toán: {{apartment.thanhtoan}}
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="price">
          <li>
            Nội thất: {{apartment.furniture}}
          </li>
          <li>
            Đặt cọc: {{apartment.datcoc}}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <ul class="info">
          <li>
            <i class="fa fa-bed" aria-hidden="true"></i> {{apartment.room}}
          </li>
          <li>
            <i class="fa fa-expand" aria-hidden="true"></i> {{apartment.area}}m<sup>2</sup>
          </li>
        </ul>
      </div>
      <div class="col-lg-6" style="text-align: right">
        <span style="font-size: 16px; color: red; font-weight: bold">{{apartment.giathue}}</span>
      </div>
    </div>
  </div>

</div>
