agm-map {
  height: 400px;
}

.map-container {
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.address {
  margin-top: 20px;
  font-size: 20px;
}
