<div class="map-container text-center">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true" [fullscreenControl]="true">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <h3 class="address"><strong>Địa chỉ:</strong> {{title}}</h3>
</div>
