<div class="row" *ngIf="bangHangs">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8">
            <h4 class="card-title">Bảng hàng chuyển nhượng</h4>
          </div>
          <div class="col-sm-4" style="text-align: right">
            <a class="btn btn-primary btn-round btn-icon" [routerLink]="['/bang-hang/create']">
            <i class="now-ui-icons ui-1_simple-add"></i>
        </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="overflow: auto">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr>
                <th class="text-center">
                  #
                </th>
                <th>
                  Dự án
                </th>
                <th>
                  Mã căn
                </th>
                <th class="text-center">
                  Giá bán
                </th>
                <th class="text-right">
                  Chủ đầu tư
                </th>
                <th class="text-center">
                  Tổng giá trị
                </th>
                <th class="text-center">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-body" *ngFor="let bangHang of bangHangs; let i = index" [attr.data-index]="i">
                <td class="text-center">
                  {{i+1}}
                </td>
                <td>
                  {{bangHang.duan}}
                </td>
                <td>
                  {{bangHang.macan}}
                </td>
                <td class="text-center">
                  {{bangHang.giaban}}
                </td>
                <td class="text-right">
                  {{bangHang.chudautu}}
                </td>
                <td class="text-center">
                  {{bangHang.tonggiatri}}
                </td>
                <td class="text-center">
                  <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="" [routerLink]="['/bang-hang', bangHang.id]">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="" (click)="delete(bangHang.id)">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>

              <tr *ngIf="showTotal">
                <td colspan="5"></td>
                <td class="td-total">Tổng số lượng</td>
                <td class="td-price" style="text-align: left;">{{bangHangs.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
