<div *ngIf="detail && apartment && project">
  <div class="container" style="margin-top: 30px">
    <div class="row">
      <div class="col-lg-6 col-xl-6">
        <!-- <h3><strong>{{(detail | async)?.name}}</strong></h3> -->
        <h3><strong>{{apartment.name}}</strong></h3>

        <p>{{apartment.address}}</p>
        <!-- <p style="padding-top: 20px"><strong>1 Giường  |  1 Phòng ngủ</strong></p> -->
      </div>

    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark text-left" [ngClass]="{'fixed-top': fixed }" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline">
          <ul class="navbar-nav">
            <li class="nav-item" style="border-top: solid 2px black; ">
              <a class="nav-link" (click)="scrollToGioHang()" style="padding-top: 6px;">Giỏ hàng / Giá</a>
            </li>
            <li class="nav-item">
              <a class="nav-link next" (click)="scrollToCanHo()">Tổng quan dự án</a>
            </li>
            <li class="nav-item">
              <a class="nav-link next" (click)="scrollToLocation()">Vị trí</a>
            </li>
            <li class="nav-item">
              <a class="nav-link left-line next" (click)="scrollToTienIch()">Tiện ích</a>
            </li>
            <li class="nav-item">
              <a class="nav-link left-line next" (click)="scrollToPhapLy()">Pháp lý</a>
            </li>
            <li class="nav-item">
              <a class="nav-link left-line next" (click)="scrollToTintuc()">Tin tức dự án</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>

  <div class="container" style="margin-top:30px;">
    <div class="row" #giohang>
      <div class="col-md-12 text-center">
        <h3><strong>Danh sách căn hộ sang nhượng</strong></h3>
        <h3>{{detail.name}}</h3>
        <div class="text-center">
          <img class="img-repository" src="assets/img/canho.png" />
        </div>
        <h3>Chọn mã căn hộ</h3>
        <ul class="macan">
          <li *ngFor="let code of detail.apartmentCode">
            <a (click)="selectCode(code)">{{code}}</a>
          </li>
        </ul>
        <button class="btn btn-elegant waves-effect" style=" margin-top: 15px;">Tìm kiếm căn hộ</button>
      </div>

    </div>
  </div>

  <!-- <h1 class="text-center" style="padding: 30px;">Căn hộ số 1|74.3m<sup>2</sup></h1> -->

  <div style="background-color: #f4f5f9;" #phaply>
    <div class="container" style="padding-top: 40px; padding-bottom: 40px">
      <div class="row text-center">
        <h3 style="width: 100%">Bảng hàng chuyển nhượng tại {{apartment.name}}</h3>
        <div class="col-md-10 center-top-20">
          <apartment-row [apartmentRows]="apartmentRows"></apartment-row>
        </div>
      </div>
    </div>
  </div>

  <div class="container bottom-thin-line" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="row" #canho>
      <div class="col-md-3">
        <span>Trạng thái: &nbsp;&nbsp; </span> <strong>{{project.status}}</strong>
      </div>

      <div class="col-md-3">
        <span>Chủ đầu tư: &nbsp;&nbsp;</span> <strong>{{project.chuDauTu}}</strong>
      </div>

      <div class="col-md-3">
        <span>Loại hình: &nbsp;&nbsp;</span> <strong>{{project.loaiHinh}}</strong>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <span>Số block: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> <strong>{{project.soBlock}}</strong>
      </div>

      <div class="col-md-3">
        <span>Số tầng: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <strong>{{project.soTang}}</strong>
      </div>

      <div class="col-md-3">
        <span>Số căn: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <strong>{{project.soCan}}</strong>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 10px;">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align: left">Giới thiệu</h1>
        <p>
          {{project.description}}
        </p>
      </div>
    </div>

    <light-box [data]="detail?.images"></light-box>

    <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

      <!-- Accordion card -->
      <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingOne">
          <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h4 class="mb-0">
            Thông tin chi tiết <i class="fa fa-angle-down rotate-icon"></i>
          </h4>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-6 col-lg-12 ">
                <span>Thời gian xây dựng:</span> <strong style="float: right">{{project.thoiGianXayDung}}</strong>
                <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-6 col-lg-12 ">
                <span>Thời gian giao nhà:</span> <strong style="float: right">{{project.thoiGianGiaoNha}}</strong>
                <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-6 col-lg-12 ">
                <span>Vốn đầu tư:</span> <strong style="float: right">{{project.vonDauTu}}</strong>
                <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-6 col-lg-12 ">
                <span>Số block:</span> <strong style="float: right">{{project.soBlock}}</strong>
                <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-6 col-lg-12 ">
                <span>Số tầng:</span> <strong style="float: right">{{project.soTang}}</strong>
                <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-6 col-lg-12 ">
                <span>Số căn hộ:</span> <strong style="float: right">{{project.soCan}}</strong>
                <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-6 col-lg-12 ">
                <span>Không gian xanh (%):</span> <strong style="float: right">{{project.khongGianXanh}}</strong>
                <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-6 col-lg-12 ">
                <span>Mật độ xây dựng (%):</span> <strong style="float: right">{{project.matDoXayDung}}</strong>
                <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-6 col-lg-12 ">
                <span>Diện tích căn hộ:</span> <strong style="float: right">{{project.dienTich}} m<sup>2</sup></strong>
                <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
              <div class="col-xl-6 col-lg-12 ">
                <span>Chủ đầu tư:</span> <strong style="float: right">{{project.chuDauTu}}</strong>
                <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <!-- Accordion card -->

      <!-- Accordion card -->
      <div class="card" #tienich>

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingTwo">
          <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h4 class="mb-0">
            Tiện ích <i class="fa fa-angle-down rotate-icon"></i>
          </h4>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4" *ngFor="let tienIch of project.tienIch">
                    <ul>
                      <li>
                        {{tienIch}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion card -->

      <!-- Accordion card -->
      <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingThree">
          <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h4 class="mb-0">
            Chủ đầu tư <i class="fa fa-angle-down rotate-icon"></i>
          </h4>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4">
                <img src="assets/img/chudautu.jpg" width="100%" />
              </div>
              <div class="col-lg-8">
                <p class="font-weight-bold">
                  Tập đoàn Bất Động Sản Đất Xanh
                </p>
                <p>
                  Tháng 11/2003 thương hiệu Ðất Xanh chính thức có mặt trên thị truờng bất động sản Việt Nam. Trải qua 14 năm hình thành, Ðất Xanh luôn vững vàng với mục tiêu mang lại cho khách hàng những sản phẩm bất động sản tốt nhất bằng dịch vụ chuyên nghiệp nhất.
                  <br /><br /> Với tiềm lực mạnh về tài chính, vững vàng về kinh nghiệm, cùng đội ngũ cán bộ nhân viên được đào tạo chuyên nghiệp, Ðất Xanh nỗ lực không ngừng trong mọi hoàn cảnh để khẳng định và nâng cao vị thế của mình
                  trên thị trường bất động sản Việt Nam, giữ vững niềm tin trong tâm trí khách hàng và đối tác. <br /><br />Tự tin với sức mạnh của ba mũi nhọn là Ðầu tư - Xây dựng - Dịch vụ, Ðất Xanh đã và đang khẳng định vị thế là Nhà cung cấp giải
                  pháp bất động sản toàn diện nhằm tạo lập cuộc sống ưu việt cho khách hàng. <br /><br />Các dự án nổi bật do Đất Xanh làm chủ đầu tư: Lux Garden (Q7), Opal Skyview (Thủ Đức), Opal Garden (Thủ Đức), Opal Riverside (Thủ Đức), Lux City (Q7),
                  Sunview Town (Thủ Đức), Phú Gia Hưng (Gò Vấp), Sunview 1,2 (Thủ Đức), Gem Riverside (Quận 2).
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" #location>

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingFour">
          <a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <h4 class="mb-0 font">
            Vị trí <i class="fa fa-angle-down rotate-icon"></i>
          </h4>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx">
          <div class="card-body">
            <div class="row">
              <div class="col-md-10 center-top-20">
                <h1 class="text-center">Vị trí dự án</h1>
                <bing-map [title]="detail.location?.address" [lat]="detail.location?.lat" [lng]="detail.location?.lng" [zoom]="zoom"></bing-map>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
    </div>
    <!--/.Accordion wrapper-->

    <div #tintuc>
      <news></news>
    </div>

    <div class="container" style="margin-top: 30px">
      <div class="row">
        <div class="col-md-12 center-top-20">
          <div class="row text-center">
            <h1 style="width: 100%">Video giới thiệu tổng quan dự án</h1>
          </div>
          <div class="row margin-top-15">
            <div class="col-md-6">
              <strong>Video bao gồm</strong>
              <ul class="video-li " style="padding-top:20px;">
                <li>
                  Vị trí dự án
                </li>
                <li>
                  Phối cảnh tổng thể dự án
                </li>
                <li>
                  Hệ thống tiện ích tại dự án
                </li>
                <li>
                  Khu vực trung tâm thương mại và shophouse
                </li>
              </ul>

              <button (click)="watchVideos()" style="margin-top: 20px" type="button" class="btn btn-danger waves-effect">Xem video</button>
            </div>
            <div class="col-md-6" *ngIf="iframe_html">
              <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/JwmH3_Ok3Wo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
              <div [innerHtml]="iframe_html"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container margin-top-15">
      <h1 style="margin-top: 20px">Dự án cùng phân khúc</h1>
      <div class="row margin-top-15">
        <!--First columnn-->
        <!-- <div class="col-lg-4 mb-4" *ngFor="let transferApartment of apartments"> -->
          <!--Card-->
          <div class="col-lg-12">
            <component-muti-carousel [items]="apartments" [type]="true"></component-muti-carousel>
          </div>
          <!--/.Card-->
        <!-- </div> -->
      </div>
    </div>
  </div>
