<div style="background-color: #d3d6db">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/img/market_insights_ipad.jpg" class="img-repository" height="550px" />
      </div>
      <div class="col-md-6 text-center" style="margin: auto; width: 50%;">
        <h1>Thị trường bất động sản ngay trong tầm tay</h1>
        <span>Đăng ký tài khoản tại Canhonhatrang.info để theo dõi tình hình thị trường bất động sản do chính bạn tạo nên. Thông tin về giá của sản phẩm chính xác theo thiết lập của khách hàng đăng ký. </span>
      </div>
    </div>
  </div>
</div>
