.md-form label {
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
  color: #757575;
  position: absolute;
  top: 1.8rem;
  left: 14px;
  font-size: 1rem;
  cursor: text;
}

.btn {
  margin: 0px;
  border-radius: 2px;
  text-transform: none;
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

.btn-outline-black {
  border: 2px solid black;
  color: black;
  background-color: transparent;
}
