<div class="container">
  <div class="text-center">
    <h1 style="margin-top: 20px">Đăng ký tài khoản trên canhonhatrang.info</h1>
    <h3>Đăng ký tài khoản trên trang của chúng tôi để thiết lập quyền định giá <br />sản phẩm của bạn</h3>
  </div>
  <div class="bottom-line" style="padding-top:10px; width: 300px; margin: 0 auto"></div>
  <div class="md-form" style="width:50%; margin: 10px auto" [formGroup]="myform" novalidate>
    <fieldset formGroupName="name">
    <div class="row">
        <div class="col-lg-6 col-xl-6 form-group" [ngClass]="{
       'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
       'has-success': firstName.valid && (firstName.dirty || firstName.touched)
      }">
          <input type="text" id="firstName" class="form-control" [(ngModel)]="user.firstName" formControlName="firstName" required>
          <label for="firstName">Họ</label>
          <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
            <p *ngIf="firstName.errors.required">Enter your first name</p>
          </div>
        </div>
        <div class="col-lg-6 col-xl-6 form-group" [ngClass]="{
       'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
       'has-success': lastName.valid && (lastName.dirty || lastName.touched)
      }">
          <input type="text" id="lastName" class="form-control" [(ngModel)]="user.lastName" formControlName="lastName" required>
          <label for="lastName">Tên</label>
          <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
            <p *ngIf="lastName.errors.required">Enter your last name</p>
          </div>
        </div>
    </div>
  </fieldset>
    <div class="row">
      <div class="col-lg-12 col-xl-12 form-group">
        <input type="text" id="phone" class="form-control" [(ngModel)]="user.phoneNumber" [ngModelOptions]="{standalone: true}">
        <label for="phone">Số điện thoại</label>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-xl-12 form-group">
        <input type="text" id="address" [(ngModel)]="user.address" class="form-control" [ngModelOptions]="{standalone: true}">
        <label for="address">Địa chỉ liên hệ</label>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-xl-12 form-group" [ngClass]="{
       'has-danger': email.invalid && (email.dirty || email.touched),
       'has-success': email.valid && (email.dirty || email.touched)
      }">
        <input type="text" id="emailna" class="form-control" [(ngModel)]="user.email" formControlName="email" required>
        <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
          <p *ngIf="email.errors.required">Email is required</p>
          <p *ngIf="email.errors.pattern">Enter a valid email address</p>
        </div>
        <label for="emailna">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-xl-12 form-group" [ngClass]="{
              'has-danger': pass.invalid && (pass.dirty || pass.touched),
              'has-success': pass.valid && (pass.dirty || pass.touched)
         }">
        <input type="password" id="passna" class="form-control" [(ngModel)]="password"  formControlName="password" required>
        <div class="form-control-feedback" *ngIf="pass.errors && (pass.dirty || pass.touched)">
          <p *ngIf="pass.errors.required">Password is required</p>
          <p *ngIf="pass.errors.minlength">Password must be 8 characters long</p>
        </div>
        <label for="passna">Mật khẩu</label>
      </div>
    </div>
  </div>
  <div class="bottom-line" style="padding-top:10px; width: 300px; margin: 0 auto"></div>
  <div class="text-center">
    <h3 style="margin-top: 25px">Thông tin sản phẩm đăng ký chuyển nhượng</h3>
  </div>
  <div class="md-form" style="width:50%; margin: 10px auto">
    <div class="row">
      <div class="col-lg-6 col-xl-6">
        <input type="text" id="room" class="form-control">
        <label for="room">Mã căn</label>
      </div>
      <div class="col-lg-6 col-xl-6">
        <input type="text" id="location" class="form-control">
        <label for="location">Vị trí tầng</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-12">
        <input type="number" id="price" class="form-control">
        <label for="price">Mức giá mong muốn</label>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12 col-xl-12">
        <button style="width: 100%; margin-top: 15px;" class="btn btn-elegant waves-effect">Hình ảnh hợp đồng <i class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="text-center" style="margin-top: 15px">
      <h3><strong>Để đăng ký tài khoản thiết lập giá sản phẩm, bắt buộc phải có hình ảnh chứng từ (hoặc hợp đồng mua bán) để xác minh chính chủ.</strong></h3>
      <h3>Có thể liên hệ qua hotline: 0931603636 để nhân viên tư vấn trực tiếp đăng ký và hướng dẫn thiết lập giá bán cho quý khách hàng.</h3>
    </div>
    <div class="row text-center" style="margin-top: 15px">
      <div class="col-lg-6 col-xl-6">
        <button style="width: 100%; margin-top: 15px;" class="btn btn-outline-black waves-effect">Hủy</button>
      </div>
      <div class="col-lg-6 col-xl-6">
        <button style="width: 100%; margin-top: 15px;" (click)="signUp()" [disabled]="!myform.valid" class="btn btn-elegant waves-effect">Hoàn tất</button>
      </div>
    </div>
  </div>
</div>
