<div class="wrapper" *ngIf="!is_root;else other_content">
  <sidebar></sidebar>
  <div class="main-panel">
    <navigation></navigation>
    <div class="panel-header panel-header-lg" data-color="orange">
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #other_content>
  <router-outlet></router-outlet>
</ng-template>
