<div class="container text-center">
  <div style="margin: 30px;">
    <h1>Discover Our New Developments</h1>
    <p style="width: 70%; margin: 0 auto">
      Compass brings a modern approach to new development marketing and sales. From boutique rental conversions to luxurious ground-up condominiums, browse our portfolio of current offerings
    </p>
    <button style="margin-top: 15px;" class="btn btn-elegant waves-effect waves-light">Contact Team</button>

  </div>
</div>

<div style=" background-color: #f4f5f9;padding-top: 30px; padding-bottom: 30px">
  <div class="container"  *ngFor="let apartment of apartments" >
    <apartment-for-sale [apartment]="apartment"></apartment-for-sale>
  </div>
</div>
