<div class="container" style="margin-bottom: 20px">
  <div class="row">
    <div class="col-lg-6">
      <div class="investment-ad custom-border">
        <h1 class="uppercase custom-header">Nhà đầu tư nhận được gì khi đăng ký</h1>
        <div class="line">

        </div>
        <ul class="investors">
          <li>
            <span><strong class="uppercase">Bảng so sánh</strong> các dự án Condotel Việt Nam nổi bật</span>
          </li>
          <li>
            <span><strong class="uppercase">Top 50 căn Condotel</strong> đẹp nhất thị trên thị trường BĐS nghỉ dưỡng</span>
          </li>
          <li>
            <span><strong class="uppercase">Tài liệu pháp lý</strong> dự án chính thức do CĐT cung cấp</span>
          </li>
          <li>
            <span><strong class="uppercase">Thông tin nội bộ</strong> không phải CĐT nào cũng tiết lộ</span>
          </li>
          <li>
            <span><strong class="uppercase">Bộ tài liệu mới nhất</strong> dự án Condotel Việt Nam mà quý vị quan tâm</span>
          </li>
          <li>
            <span><strong class="uppercase">Nhận định của các chuyên gia BĐS</strong> đầu ngành, uy tín</span>
          </li>
          <li>
            <span><strong class="uppercase">Tư vấn miễn phí,</strong> tận tâm với khách hàng trong suốt 21h/7 ngày</span>
          </li>
          <li>
            <span><strong class="uppercase">Hỗ trợ tối đa pháp lý:</strong> hợp đồng, chính sách thanh toán...</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="investment-ad custom-border2">
        <h1 class="uppercase custom-header">Là nhà đầu tư chuyên nghiệp</h1>
        <h1 style="font-size:20px; text-align: center; margin: 20px">Quý vị hãy nắm trọn thông tin Condotel Việt Nam</h1>
        <!-- Form subscription -->
        <form>
          <p class="h5 text-center mb-4 uppercase" style="margin: 20px">Đăng ký ngay - hotline: 0968 980 280</p>

          <div class="md-form" required>
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form3" class="form-control">
            <label for="form3">Họ và tên</label>
          </div>

          <div class="md-form" required>
            <i class="fa fa-phone prefix grey-text"></i>
            <input type="text" id="form2" class="form-control">
            <label for="form2">Số điện thoại</label>
          </div>

          <div class="md-form" required>
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="form4" class="form-control">
            <label for="form4">Email</label>
          </div>

          <div class="text-center">
            <button class="btn btn-indigo" style="width: 100%; background-color: #00a891 !important">Đăng ký <i class="fa fa-paper-plane-o ml-1"></i></button>
          </div>

        </form>
        <!-- Form subscription -->
      </div>
    </div>
  </div>
</div>
