.custom-border {
  border: 3px solid #00a891;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.custom-border2 {
  border: 3px solid #00a891;
}

.custom-header {
  color: #00a891;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.investment-ad {
  padding: 20px;
}

li {
  padding: 10px;
}

.line {
  border-bottom: 1px solid orange;
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 12px;
}

.md-form .prefix~label {
  margin-left: 2rem;
}

.investors {
  padding-left: 40px;
}
