.apartment-icons {
  text-align: right;
  font-size: 30px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.btn-outline-black {
  font-size: 20px;
  font-weight: 600;
  padding-top: 0.36rem;
  padding-bottom: 0.36rem;
}

.btn-outline-black i {
  font-size: 25px;
  margin-right: 10px;
}

.more-detail li {
  display: inline;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 600;
}

.more-detail {
  padding-top: 20px;
}

.line-bottom {
  border-bottom: 2px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.light-title {
  font-size: 17px;
  color: #8e8e8e;
}

.bold-title {
  font-size: 17px;
}

.balance {
  padding-top: 10px;
  padding-bottom: 10px;
}

.double-line {
  padding: 1px;
  margin-top: 30px;
  border-top: 3px solid rgba(74, 88, 104, 1);
  border-bottom: 1px solid rgba(74, 88, 104, 1);
}

.center-top-20 {
  margin: 0 auto;
  margin-top: 20px;
}

.law-item {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .bold-title {
    text-align: right;
  }
}

li {
  /* display: inline-block; */
  margin-right: 0px;
}

.menu-item {
  padding: 1rem;
  width: 100%;
  height: 100px;
  color: black;
}

.menu-float {
  position: absolute;
  width: 60%;
  top: 170px;
}

.nav-item:hover {
  color: #fff;
  transition: all 1s;
}

span, p {
  font-size: 16px;
}

.navbar a, .nav-link {
  color: black !important;
}

.card a {
  color: black;
}

.img-hard-size {
  width: 400px;
  height: 300px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  /* padding-right: 1.5rem; */
  padding-left: 0rem;
}

.navbar-expand-lg .navbar-nav .next {
  padding-left: 1.5rem;
  /* padding-left: 0rem; */
}

.macan li {
  border-left: solid 1px rgba(48, 51, 58, .2);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
}

.macan li:first-child {
  border-left: none;
}

.macan li:hover {
  color: #999;
}

.container h1 {
  text-align: center;
}

.video-li li {
  list-style-type: none;
}

.fixed-top {
  background-color: white;
}

.accordion .card .card-header {
  padding: 1rem 0rem;
}
