<!-- <thumbnails-carousel></thumbnails-carousel> -->
<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
<div class="container" style="margin-top: 30px" *ngIf="rent">
  <div class="row bottom-thin-line">
    <div class="col-lg-6 col-xl-6">
      <h3><strong>{{apartment.name}}</strong></h3>

      <p>{{apartment.address}}</p>
      <!-- <p style="padding-top: 20px"><strong>1 Giường  |  1 Phòng ngủ</strong></p> -->
    </div>

  </div>

  <div class="row margin-top-15">
    <div class="col-lg-12">
      <h3>Tổng quan</h3>
      <p>
        {{rent.description}}
      </p>
    </div>
  </div>

  <div class="row margin-top-15">
    <div class="col-lg-12">
      <h3>Thông tin cơ bản</h3>
      <div class="row">
        <div class="col-xl-6 col-lg-12 ">
          <span>Phòng ngủ:</span> <strong style="float: right">{{rent.bedrooms}}</strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Phòng tắm:</span> <strong style="float: right">{{rent.bathrooms}}</strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Diện tích:</span> <strong style="float: right">{{apartment.area}}m<sup>2</sup></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Tình hình nội thất:</span> <strong style="float: right">{{rent.furniture}}</strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Mục đích sử dụng:</span> <strong style="float: right">{{rent.furniture}}</strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Dự án:</span> <strong style="float: right">Vinhomes Central Park</strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Tháp:</span> <strong style="float: right">{{rent.thap}}</strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Giá thuê</span> <strong style="float: right">{{apartment.giathue}}</strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>

      </div>
    </div>
  </div>

  <div class="row margin-top-15">
    <div class="col-lg-12">
      <h3>Nội thất</h3>
      <div class="row">
        <div class="col-xl-6 col-lg-12 ">
          <span>Sofa</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.sofa, 'fa-times': !rent.sofa}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Bàn ăn</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.banan, 'fa-times': !rent.banan}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Nhà bếp</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.nhabep, 'fa-times': !rent.nhabep}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Tủ bếp</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.tubep, 'fa-times': !rent.tubep}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Thiết bị bếp</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.thietbibep, 'fa-times': !rent.thietbibep}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Tủ quần áo</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.tuquanao, 'fa-times': !rent.tuquanao}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Bàn trang điểm</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.banan, 'fa-times': !rent.banan}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Bàn làm việc</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.banlamviec, 'fa-times': !rent.banlamviec}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Tivi</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.tivi, 'fa-times': !rent.tivi}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Máy giặt</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.maygiat, 'fa-times': !rent.maygiat}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Tủ lạnh</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.tulanh, 'fa-times': !rent.tulanh}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Máy lạnh</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.maylanh, 'fa-times': !rent.maylanh}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Lò vi sóng</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.lovisong, 'fa-times': !rent.lovisong}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Máy nước nóng</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.maynuocnong, 'fa-times': !rent.maynuocnong}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Giường</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.giuong, 'fa-times': !rent.giuong}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Máy sưởi</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.maysuoi, 'fa-times': !rent.maysuoi}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Thiết bị âm thanh</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.thietbiamthanh, 'fa-times': !rent.thietbiamthanh}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-top-15">
    <div class="col-lg-12">
      <h3>Tiện Nghi</h3>
      <div class="row">

        <div class="col-xl-6 col-lg-12 ">
          <span>Internet</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.internet, 'fa-times': !rent.internet}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Truyền hình cable</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.truyenhinhcable, 'fa-times': !rent.truyenhinhcable}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Cho phép thú cưng</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.chophepthucung, 'fa-times': !rent.chophepthucung}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Thang máy</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.thangmay, 'fa-times': !rent.thangmay}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Hồ bơi</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.hoboi, 'fa-times': !rent.hoboi}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Gym</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.gym, 'fa-times': !rent.gym}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Khu vực làm việc</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.khuvuclamviec, 'fa-times': !rent.khuvuclamviec}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Mở cửa 24h</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.mocua24h, 'fa-times': !rent.mocua24h}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>

        <div class="col-xl-6 col-lg-12 ">
          <span>Bãi để ôtô</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.baideoto, 'fa-times': !rent.baideoto}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Ban công</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.bancong, 'fa-times': !rent.bancong}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Phòng xông hơi khô</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.phongxonghoikho, 'fa-times': !rent.phongxonghoikho}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Phòng xông hơi ướt</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.phongxonghoiuot, 'fa-times': !rent.phongxonghoiuot}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
        <div class="col-xl-6 col-lg-12 ">
          <span>Phòng giải trí</span> <strong style="float: right"><i class="fa" [ngClass]="{'fa-check': rent.phonggiaitri, 'fa-times': !rent.phonggiaitri}"></i></strong>
          <div class="bottom-thin-dotted" style="margin-top: 5px; margin-bottom: 5px"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-top-15" *ngIf="rent.images">
    <div class="col-lg-12">
      <h3>Hình ảnh</h3>
      <light-box [data]="rent.images"></light-box>
    </div>
  </div>

  <div class="row margin-top-15">
    <div class="col-lg-12">
      <h3>Tiện ích khu vực</h3>
      <bing-map [title]="rent.location?.address" [lat]="rent.location?.lat" [lng]="rent.location?.lng" [zoom]="zoom"></bing-map>

    </div>
  </div>

  <div class="row margin-top-15">
    <div class="col-lg-12">
      <h3>Nhà đất tương tự</h3>
      <component-muti-carousel [items]="ahihi" [title]="true"></component-muti-carousel>
    </div>
  </div>
</div>
