/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-style: normal;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .container {
    max-width: 500px;
  }
}

@media screen and (min-width: 70vw) {
  #current-image {
    max-height: 75vh !important;
  }
}

@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
  .lg-float-right {
    text-align: right;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1280px;
  }
  .carousel {
    height: 700px;
  }
  .carousel-text {
    margin-top: 20%;
    text-align: left;
  }
}

@media (max-width: 1300px) {
  .carousel {
    height: 600px;
  }
}

@media (max-width: 1200px) {
  .carousel {
    height: 500px;
  }
}

.carousel-text {
  margin-top: 30px;
  text-align: left !important;
}

.mdb-autocomplete-wrap {
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  z-index: 100;
  max-height: 210px;
  overflow-y: auto;
  padding-left: 0;
  list-style-type: none;
  float: left;
  min-width: 10rem;
  padding: .5rem;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
}

.mdb-autocomplete-wrap li {
  cursor: pointer;
  color: black;
  padding: 12px 15px;
  font-size: .875rem;
}

.mdb-autocomplete-wrap li:hover {
  background-color: #4285f4;
}

.uppercase {
  text-transform: uppercase;
}

.font-xsmall {
  font-size: 11px;
}

.mdb-select .initialized {
  display: none;
}

.md-select {
  border: none;
  padding-top: 10px;
  border-bottom: 1px solid #bdbdbd;
  color: white;
}

.md-select-option {
  cursor: pointer;
  color: black;
  padding: 12px 15px;
  font-size: .875rem;
}

.btn-outline-white {
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

.brand {
  cursor: pointer;
  text-align: center;
  color: rgba(74, 88, 104, 1) !important;
}

.main-brand {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 2.5rem;
  font: italic normal normal 40px/1.4em wfont_fa0aa1_49ced62168d749759ca80c918d06efc9, wf_49ced62168d749759ca80c918, orig_dpdidothtfmmedium;
}

.sub-brand {
  margin-left: 10%;
  margin-right: 10%;
  font: normal normal 20px/1.4em wfont_fa0aa1_49ced62168d749759ca80c918d06efc9, wf_49ced62168d749759ca80c918, orig_dpdidothtfmmedium;
}

strong {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.card img {
  border-radius: 2px 2px 2px 2px;
}

a {
  outline: none;
}

:focus {
  outline: none;
}

ul {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.btn-rounded {
  border-radius: 10em;
}

.img-repository {
  width: 100%;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: inherit !important;
  background-image: none !important;
  color: rgb(0, 0, 0);
}

.image-background {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.small-button {
  padding: .2rem .5rem !important;
}

.bottom-line {
  border-bottom: 2px solid black;
}

.bottom-thin-line {
  border-bottom: 1px solid rgba(48, 51, 58, .2);
}

.bottom-thin-dotted {
  border-bottom: 1px dotted #dedede;
}

.btn-completed {
  background-color: #00779a;
}

.btn-completed:hover {
  background-color: #00779a;
  outline-color: #00779a;
}

.btn-blue-outline {
  border: 1px solid #2bbbad;
  color: #2bbbad !important;
  text-transform: none;
  font-weight: bold;
  background-color: transparent;
}

.modal-content {
  background-color: rgb(244, 245, 249);
  padding: 40px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.md-form label {
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
  color: #757575;
  position: absolute;
  top: 1.8rem;
  left: 14px;
  font-size: 1rem;
  cursor: text;
}

.modal-footer .btn {
  font-size: 15px;
}

.modal-dialog {
  top: 20%;
}

.text-left {
  text-align: left;
}

.dot-row {
  border-top: 1px dotted black;
}

.margin-top-15 {
  margin-top: 15px;
}

.for-rent .select-wrapper input.select-dropdown {
  border: 1px solid rgba(48, 51, 57, .15);
  background-color: white;
  padding-right: 5px;
  height: 1rem;
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
  border-radius: 2px;
}

.for-rent .select-wrapper span.caret {
  z-index: 10;
  top: 8px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: black;
}

.current-image-next, .current-image-previous {
  display: none;
}

.mdb-lightbox figure img:hover {
  opacity: 1;
}

.padding-15 {
  padding: 15px;
}

.has-danger input {
  border-color: red;
}

.has-danger p {
  color: red;
}

.has-success input {
  border-color: green;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.ngx-gallery-image {
  width: 50% !important;
}

.ngx-gallery-thumbnails {
  width: 30% !important;
  text-align: center;
}

.ngx-gallery-animation-slide .ngx-gallery-image.ngx-gallery-inactive-right {
  left: 50% !important;
}
