.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: white;
}

.dropdown-item:hover {
  background-color: #00617d;
}

.left-line {
  border-right: solid 1px white;
}

.btn-outline-white {
  border: 1px solid white;
  padding: .1rem .4rem !important;
}

.nav-item:hover {}

.btn {
  text-transform: none;
}

.navbar {
  padding: 0px;
}

.nav-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-nav .active {
  border-top: solid 2px black;
  padding-top: 6px;
}

.top-nav-collapse div ul li a {
  color: black !important;
}

.top-nav-collapse div ul li a:hover {
  color: #30cfc0 !important;
}

.top-nav-collapse div div form .btn-outline-white {
  color: black !important;
  border: 1px solid black;
}

.top-nav-collapse div div form .btn-outline-white:hover {
  color: #30cfc0 !important;
}

.form-inline {
  color: white;
}

.top-nav-collapse div div form {
  color: black !important;
}

.top-nav-collapse div div form .left-line {
  border-right: solid 1px black;
}

.top-nav-collapse div ul li .left-line {
  border-right: solid 1px black;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
  background-color: inherit;
}

a:hover {
  color: #30cfc0 !important;
}

.kygui:hover .dropdown-menu {
  display: block !important;
}
