<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{'fixed-top': is_root, 'scrolling-navbar': is_root, 'top-nav-collapse': !is_root}" style="z-index: 1000">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item btn-group">
        <a class="navbar-brand left-line" style="padding-right: 25px;" [routerLink]="['/']">COMPASS</a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item btn-group">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            New York City
            </a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline">
        <ul class="navbar-nav">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Trang Chủ</a>
          </li>
          <li class="nav-item btn-group kygui">
            <a class="nav-link dropdown-toggle" [routerLink]="['/chuyen-nhuong']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ký Gửi - Sang Nhượng
            </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/chuyen-nhuong', 'Napoleon Catle Nha Trang']">Nha Trang Central</a>
              <a class="dropdown-item" [routerLink]="['/chuyen-nhuong', 'Napoleon Catle Nha Trang']">Napoleon Castle Nha Trang</a>
              <a class="dropdown-item" [routerLink]="['/chuyen-nhuong', 'Napoleon Catle Nha Trang']">The Arena Cam Ranh</a>
              <a class="dropdown-item" [routerLink]="['/chuyen-nhuong', 'Napoleon Catle Nha Trang']">Panorama Nha Trang</a>
              <a class="dropdown-item" [routerLink]="['/chuyen-nhuong', 'Napoleon Catle Nha Trang']">A&B Central Square</a>
              <a class="dropdown-item" [routerLink]="['/chuyen-nhuong', 'Napoleon Catle Nha Trang']">Scenia Bay Nha Trang</a>
            </div>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/cho-thue']">Cho Thuê</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link left-line" style="padding-right: 25px;" [routerLink]="['/lien-he']">Liên hệ</a>
          </li>
        </ul>
        <div *ngIf="!user">
          <a style="margin-left: 20px" class="btn btn-outline-white waves-effect small-button" type="button" data-toggle="modal" data-target="#exampleModal">Đăng nhập</a> or
          <a class="btn btn-elegant waves-effect small-button" type="button" [routerLink]="['/dang-ky']">Đăng ký</a>
        </div>

        <ul class="navbar-nav mr-auto" *ngIf="user">
          <li class="nav-item btn-group">
            <a class="nav-link dropdown-toggle" style="margin-left: 15px; margin-right: 10px" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Xin chào, {{user.firstName}} {{user.lastName}}!
              </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <h6 class="dropdown-header">My Workspace</h6>
              <a class="dropdown-item" href="#">Collections</a>
              <a class="dropdown-item" href="#">Save Searches</a>
              <a class="dropdown-item" href="#" style="border-bottom: 1px solid rgba(48,51,57,.15); border-top: 1px solid rgba(48,51,57,.15);">Account Settings</a>
              <a class="dropdown-item" (click)="logout()">Sign Out</a>
            </div>
          </li>
        </ul>
        <!-- <a style="margin-left: 20px; margin-right: 10px">Xin chào, {{user.firstName}} {{user.lastName}}!</a> -->
        <!-- <a class="btn btn-elegant waves-effect small-button" type="button" *ngIf="user" (click)="logout()">Thoát</a> -->

      </form>
    </div>
  </div>
</nav>

<sign-in></sign-in>
