<div class="row" *ngIf="tasks">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8">
            <h4 class="card-title">Quản lý công việc</h4>
          </div>
          <div class="col-sm-4" style="text-align: right">
            <a class="btn btn-primary btn-round btn-icon" [routerLink]="['/task/create']">
            <i class="now-ui-icons ui-1_simple-add"></i>
        </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-full-width table-responsive">
          <table class="table">
            <tbody>
              <tr *ngFor="let task of tasks">
                <td>
                  <div class="form-check text-center">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked="" [(ngModel)]="task.status" (change)="change(task)">
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-left">{{task.description}}</td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove" (click)="delete(task.id)">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="1"></td>
                <td class="td-total">Tổng số lượng</td>
                <td class="td-price" style="text-align: left;">{{tasks.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="card-body">
        <div class="table-responsive" style="overflow: auto">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr>
                <th class="text-center">
                  #
                </th>
                <th>
                  Tiêu đề
                </th>
                <th>
                  Mô tả
                </th>
                <th class="text-center">
                  Trạng thái
                </th>
                <th class="text-right">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-body" *ngFor="let task of tasks; let i = index" [attr.data-index]="i">
                <td class="text-center">
                  {{i+1}}
                </td>
                <td>
                  {{task.title}}
                </td>
                <td>
                  {{task.description}}
                </td>
                <td class="text-center">
                  {{task.status}}
                </td>
                <td class="text-right">
                  <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="" [routerLink]="['/task', task.id]">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="" (click)="delete(task.id)">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>

              <tr>
                <td colspan="3"></td>
                <td class="td-total">Tổng số lượng</td>
                <td class="td-price" style="text-align: left;">{{tasks.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
    </div>
  </div>
</div>
